@import "vars";

.collection-slab {
  @include respond-to(iphone) {}

  span {
    @include respond-to(iphone) {
      display: block;
      line-height: 1.2em;
      margin-bottom: 10px;
      width: 100%;
    }
  }

  em {
    color: $color_caps;
    font-size: $font-size_caps;
    font-style: normal;
    font-weight: 600;
    line-height: $line-height_caps;
    margin-left: 17px;
    text-transform: uppercase;

    @include respond-to(iphone) {
      display: block;
      margin-left: 0px;
    }
  }
}
