@import "vars";

$collection-slab-background-color: white;

.collections-slabs {
  margin-left: -5px;
  margin-right: -5px;

  &__list {
    &-el {
      align-items: center;
      -webkit-align-items: center;
      background-color: $collection-slab-background-color;
      border-bottom: 1px solid #e1e1e1;
      border-radius: $base-border-radius;
      display: inline-flex;
      display: -webkit-inline-flex;
      height: 50px;
      margin: 5px;
      padding: 0 20px;
    }
  }
}


.collection-slab {

  em.caps {
    color: $caps-color;
    font-size: $caps-font-size;
    font-style: normal;
    font-weight: 600;
    line-height: $caps-line-height;
    margin-left: 17px;
    text-transform: uppercase;
  }
}
