@import "vars";

.collections-slabs {

  &__list {
    display: block;

    @media #{$media-phone} {
      padding: 0;
    }

    &-el {
      align-items: center;
      -webkit-align-items: center;
      box-sizing: border-box;

      background-color: #FFF;
      border-bottom: 1px solid #e1e1e1;
      border-radius: $base-border-radius;

      display: inline-flex;
      display: -webkit-inline-flex;

      min-height: 50px;
      padding: 0 20px;
      margin: 5px;

      @media #{$media-phone} {
        height: auto;
        min-height: 64px;
        margin: 0 0 20px 0;
        width: 100%;
        overflow: hidden;

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}
