$login-form-width: 480px;

.modal-container > form.invite,
.modal-container > form.request-invite {
  @include modal-auth-form;
  
  button.register i {
    position: relative;
    top: 1px;
  }
  
}
