.modal-container form.pin {
  
  $pin-form-width: 600px;
  
  $pin-form-header-background-color: hsl(60, 10%, 95%);
  $pin-form-header-font-size: 28px;
  $pin-form-header-title-color: hsl(0, 0%, 60%);
  
  
  width: $pin-form-width;
  
  
  @mixin pin-form-header {
    @include display(flex);
    
    background-color: $pin-form-header-background-color;
    font-size: $pin-form-header-font-size;
    font-weight: 300;
    padding: 20px 30px;
    
    > .title {
      @include flex(1);
      
      color: $pin-form-header-title-color;
      font-weight: 300;
      margin-left: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  
  
  @mixin pin-form-select-wrapper {
    position: relative;
    
    > i {
      @include position(absolute, 50% 0px null null);
      @include transform(translateY(-50%));
      
      color: hsl(145, 60%, 60%);
      margin-right: 20px;
    }
  }
  
  
  @mixin pin-form-fieldset {
    border: none;
    margin: 20px 30px;
    padding: 0;
    
    > label {
      @include align-items(center);
      @include display(flex);
      
      margin-top: 20px;
      
      > *:not(.title) {
        @include flex(1);
      }
      
      > .title {
        font-size: 20px;
        width: 40%;
      }
      
      &.comment > .title {
        @include align-self(flex-start);
      }

      > .select-wrapper {
        @include pin-form-select-wrapper;
      }
    }
    
    .comment {
      position: relative;
    }
    
    .pinboard select {
      @include appearance(none);

      background-color: hsl(0, 0%, 95%);
      border: none;
      border-radius: 0;
      font-size: 20px;
      font-weight: 400;
      height: 40px;
      margin: 0;
      outline: none;
      padding: 0 20px;
      width: 100%;
    }
    
    .comment textarea {
      background-color: hsl(0, 0%, 95%);
      border: none;
      font-size: 16px;
      outline: none;
      padding: 10px;
      resize: none;
      width: 100%;
    }
    
    .comment .counter {
      @include position(absolute, 10px 10px null null);
      
      color: hsl(145, 60%, 60%);
      font-size: 12px;
      font-weight: 600;
    }
    
  }
  
  
  @mixin pin-form-footer {
    @include display(flex);
    @include justify-content(space-between);
    
    margin: 20px 30px;
    padding: 0 0 20px;
  }
  
  
  > header {
    @include pin-form-header;
  }
  
  > fieldset {
    @include pin-form-fieldset;
  }
  
  > footer {
    @include pin-form-footer;
    
    button {
      width: 75px;
    }
  }
  
}