@mixin pin-form-header {
  @include display(flex);
  
  background-color: hsl(60, 9%, 98%);
  font-size: 30px;
  font-weight: 300;
  padding: 20px;
  
  > div {
    white-space: nowrap;
  }
  
  > .title {
    @include flex(1);
    
    color: hsl(0, 0%, 60%);
    font-weight: 500;
    margin-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


@mixin pin-form-fieldset {
  border: none;
  margin: 0;
  padding: 0;
  
  > label {
    @include display(flex);
    @include align-items(top);
    
    margin: 20px 30px;
    
    > span {
      display: inline-block;
      font-size: 20px;
      width: 33%;
    }
    
    > select {
      @include flex(1);
      
      font-size: 20px;
    }
    
    > textarea {
      @include flex(1);
      
      background-color: hsl(0, 0%, 98%);
      border: none;
      font-size: 20px;
      height: 5em;
      outline: none;
      padding: 10px;
      resize: none;
    }
  }
}


@mixin pin-form-footer {
  @include display(flex);
  @include justify-content(space-between);
  
  padding: 0 30px 40px;
  
  button {
    font-weight: 400;
    width: 80px;
    
    &.cancel {
      background-color: hsl(0, 0%, 98%);
      color: hsl(0, 0%, 0%);
    }
  }
}


.modal-container form.pin {
  margin: 0;
  padding: 0;
  width: 600px;
  
  > header {
    @include pin-form-header;
  }
  
  > fieldset {
    @include pin-form-fieldset;
  }
  
  > footer {
    @include pin-form-footer;
  }
  
}