body ul.modal-stack > li.modal-stack-item > form.pin {

  $pin-form-width: 476px;

  background-color: $white-color;
  width: $pin-form-width;

  @mixin pin-form-select-wrapper {
    position: relative;

    > i {
      @include position(absolute, 50% 0px null null);
      @include transform(translateY(-50%));

      color: hsl(145, 60%, 60%);
      margin-right: 20px;
    }
  }

  @mixin pin-form-fieldset {
    border: none;
    margin: $default-margin-size;
    padding: 0;

    > label {
      @include align-items(center);
      @include display(flex);

      margin-bottom: $default-margin-size;

      &:last-of-type {
        margin-bottom: 0;
      }

      > *:not(.title) {
        @include flex(1);
      }

      > .title {
        font-size: $basic-font-size;
        font-weight: 400;
        width: 90px;
      }

      &.comment > .title {
        @include align-self(flex-start);
      }

      > .select-wrapper {
        @include pin-form-select-wrapper;
      }
    }

    .comment {
      position: relative;
    }

    .user select,
    .pinboard select,
    .cc-typeahead input,
    .input-wrapper input {
      @include appearance(none);

      background-color: white;
      border: none;
      border-radius: 0;
      font-size: 20px;
      font-weight: 400;
      height: 40px;
      margin: 0;
      outline: none;
      padding: 0 20px;
      width: 100%;
    }

    .input-wrapper input {
      padding: 10px;
      font-size: 16px;
    }

    .comment textarea {
      background-color: white;
      border: none;
      font-size: 16px;
      outline: none;
      padding: 10px;
      resize: none;
      width: 100%;
    }

    .comment p {
      font-size: $basic-font-size;
    }

    .comment .counter {
      color: $link-color;
      font-size: $basic-font-size;
      font-weight: 700;
      margin-top: $inner-margin-size;
    }

    .unicorn-chooser {
      position: relative;

      .create-button {
        @include position(absolute, 0px 10px null null);

        color: $green-color;
        font-size: $big-font-size;
        line-height: 40px;
        height: 40px;
      }
    }

  }

  @mixin pin-form-footer {
    @include display(flex);
    @include justify-content(space-between);

    margin: $default-margin-size;
  }

  > .quote {
    background-color: $accented-white-color;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.4em;
    padding: $default-margin-size;
    white-space: pre-wrap;

    .company {
      color: $link-color;
      font-weight: 600;
    }

    .post {
      color: black;
      font-weight: 600;
    }
  }

  > fieldset {
    @include pin-form-fieldset;
  }

  > footer {
    @include pin-form-footer;

    button {
      width: 85px;
    }

    button ~ button {
      margin-left: 20px;
    }
  }

}

