$login-form-width: 480px;

.modal-container > form.login,
.modal-container > form.register,
.modal-container > form.password-reset {
  @include modal-auth-form;
  
  button.register i {
    position: relative;
    top: 1px;
  }
  
}
