<p style="font-style: italic;">
  <% if @current_vote == 1 %>
    You have upvoted this response.
  <% elsif @current_vote == -1 %>
    You have downvoted this response.
  <% end %>
</p>

<p>
  <%= link_to 'Upvote', vote_vacancy_response_path(@vacancy_response, 1),
    method: :post,
    remote: true,
    class: 'upvote green-button',
    style: @current_vote == 1 ? 'display: none;' : ''
  %>

  <%= link_to 'Downvote', vote_vacancy_response_path(@vacancy_response, -1),
    method: :post,
    remote: true,
    class: 'downvote button',
    style: @current_vote == -1 ? 'display: none;' : '' %>
</p>
