<h1>Responses list for <%= @vacancy.name %> vacancy at <%= @vacancy.company.name %></h1>

<ul>
  <% @vacancy.responses.each do |response| %>
    <li>
      <%= link_to response.user.full_name, vacancy_response_path(response.vacancy, response) %> |
      <%= response.content %>
    </li>
  <% end %>  
</ul>
