<% class_for_root_tag main: 'company-access-rights' %>

<% pagescript_params company: CompanySerializer.new(@company), roles: Company::INVITABLE_ROLES %>

<section class="company-access-rights-container" data-react-mount-point="access-rights">
</section>
