<% class_for_root_tag main: 'company-access-rights' %>

<% pagescript_params company: CompanySerializer.new(@company) %>

<h1>Access Rights</h1>

<section class="company-access-rights-container" data-react-mount-point="access-rights">
  Access Rights goes here
</section>

<h1>Invites</h1>

<section class="company-invites-container" data-react-mount-point="invites">
  Invites goes here
</section>
