<p>
  Hi, <%= @user.full_name %>,
</p>

<p>
  Take a look at recently created resources.
</p>

<% if @insights.any? %>
  <h2>Insights</h2>

  <ul style="list-style: none;">
    <% @insights.each do |insight| %>
      <li>
        <%= link_to insight.content, insight_url(insight) %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @pinboards.any? %>
  <h2>Collections</h2>

  <ul style="list-style: none;">
    <% @pinboards.each do |pinboard| %>
      <li>
        <%= link_to pinboard.title, collection_url(pinboard) %>
      </li>
    <% end %>
  </ul>
<% end %>
