<p>
  Hello <%= @name %>,
</p>

<p>
  You are invited to CloudChart.
</p>

<p>
  <%= link_to 'Please Click To Continue With Registration', cloud_profile.signup_url(invite: @token) %>
</p>

<p>
  Your invite code: <br>
  <%= @code %>
</p>

<%= render 'shared/mailer_signature' %>
