<p>
  Hello <%= @name %>,
</p>

<p>
  You are invited to CloudChart.
</p>

<p>
  <%= link_to 'Please Click To Continue With Registration', main_app.root_url(token_id: @token.id) %>
</p>

<%= render 'shared/mailer_signature' %>
