<p>
  Hello<%= @user.name.present? ? " #{@user.name}" : '' %>,
</p>

<p>
  You has been invited to join CloudChart as <%= @company.name %>'s member. Please click the following link for further steps:
  <%= link_to company_invite_url(token_id: @token.id), company_invite_url(token_id: @token.id) %>
</p>

<p>If you don't work in <%= @company.name %>, please ignore this email.</p>
