<p>
  Hello<%= @user.present? ? " #{@user.full_name_or_email}" : '' %>, this is your captain speaking.
</p>

<p>
  You have been invited to join OrgPad as a member of <%= @company.name %> company. Please click the following link to begin:
  <%= link_to company_invite_url(token_id: @token.id), company_invite_url(token_id: @token.id) %>
</p>

<p>If you have nothing with <%= @company.name %>, please ignore this message.</p>
