<% set_meta_tags_for_social_networks(
  title: "#{@pin.post.company.name}, #{@pin.post.title}",
  description: @pin.content,
  image: @pin.preview.try(:url),
  url: insight_url(@pin)
) %>

<% content_for :class_for_main, 'insight' %>

<div data-react-class="components/insight_app" data-react-props="<%= { uuid: @pin.id }.to_json %>"></div>
