<p>
  <strong>Publish on:</strong>
  <%= @vacancy.settings.publish_on %>
</p>

<p>
  <strong>Display link:</strong>
  <%= @vacancy.settings.display_link %>
</p>

<p>
  <strong>Accessible to:</strong>
  <%= @vacancy.settings.accessible_to %>
</p>

<p>
  <strong>Incentive:</strong>
  <%= @vacancy.settings.incentive %>
</p>

<p>
  <strong>Awaiting:</strong>
</p>
