<p>
  <strong>Name:</strong>
  <%= @vacancy.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vacancy.description %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @vacancy.salary %>
</p>

<p>
  <strong>Location:</strong>
  <%= @vacancy.location %>
</p>
