@mixin editor-destroy-button {
  > i.fa.remove {
    @include position(absolute, 0px 0px 0 0);
    
    color: hsl(0, 75%, 55%);
    font-size: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    visibility: hidden;
    width: 30px;
    cursor: pointer;
  }

  &:hover > i.fa.remove {
    visibility: visible;
  }
}

@mixin editor-contenteditable-area {
  outline: none;
  cursor: text;

  &:empty::before {
    color: hsl(0, 0, 78%);
    content: attr(data-placeholder);
  }

  > p {
    margin: 0;
    padding: 0;
  }
}
