$cloud-input-font-size: 31pt;

@mixin cloud-input {
  border: none;
  font-size: $cloud-input-font-size;
  font-weight: 600;
  margin: 0;
  outline: none;
  padding: 0;
}

input[type="text"].cloud {
  @include cloud-input;
}


$cloud-select-background-color: hsl(0, 0%, 96%);
$cloud-select-border-color: hsl(0, 0%, 67%);
$cloud-select-border-radius: $cloud-button-border-radius;
$cloud-select-color: hsl(0, 0%, 67%);
$cloud-select-font-size: $cloud-button-font-size;
$cloud-select-font-weight: 300;
$cloud-select-height: $cloud-button-height + 2pt;

@mixin cloud-select {
  @include appearance(none);
  
  background-color: $cloud-select-background-color;
  border: 1pt solid $cloud-select-border-color;
  border-radius: $cloud-select-border-radius;
  color: $cloud-select-color;
  font-size: $cloud-select-font-size;
  font-weight: $cloud-select-font-weight;
  height: $cloud-select-height;
  outline: none;
  padding: 0 $base-unit;
}

select.cloud {
  @include cloud-select;
}
