@mixin form-field-radio {
  cursor: pointer;
  position: relative;

  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + .title {
    &:before {
      @include position(absolute, 0px 0 0 -65px);

      background-color: hsl(0, 100%, 100%);
      border: 3px solid hsl(137, 51%, 51%);
      border-radius: 100%;
      content: '';
      height: 35px;
      width: 35px;
    }
  }

  input[type="radio"]:checked + .title {
    &:before {
      background-color: hsl(137, 51%, 51%);
      border-radius: 100%;
    }
  }
}

// need to find a way to make it more extensible for different widths
@mixin cc-toggle {
  background-color: transparent;
  border: none;
  display: block;
  font-size: 16px;
  height: 36px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 85px;

  input {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
  }

  > span {
    @include display(flex);
    @include position(absolute, 0 0 0 0%);
    @include transition(transform 0.2s ease-out);

    height: 100%;
    width: 145px;

    > i, span {
      display: block;
      float: left;
      height: 100%;
    }

    > i {
      @include transition(background-color 0.2s ease-out);

      background-color: hsl(0, 0%, 94%);
      width: 25px;
    }

    > span {
      @include align-items(center);
      @include display(flex);
      @include justify-content(center);

      margin: auto;
      width: 60px;

      &.off {
        background-color: hsl(0, 0%, 98%);
        color: hsl(0, 0%, 0%);
      }

      &.on {
        background-color: hsl(136, 50%, 52%);
        color: hsl(0, 0%, 98%);
      }
    }
  }

  > input:checked ~ span {
    @include transform(translateX(-60px));

    > i {
      background-color: hsl(132, 44%, 50%);
    }
  }
}

@mixin form-field {
  @include align-items(center);
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(flex-end);

  font-size: 16px;
  margin-bottom: 10px;

  .title {
    font-weight: 300;
    padding-right: 10px;
    text-align: right;
    width: 25%;
  }

  .input,
  .error,
  .hint {
    width: 100%;
  }
  
  .title ~ .input,
  .title ~ .error,
  .title ~ .hint {
    width: 75%;
  }
  
  .input {
    @include align-items(center);
    @include display(flex);
    
    background-color: hsl(0, 0%, 96%);
    height: 100%;
    
    input {
      @include flex(1);
      
      background-color: transparent;
      border: none;
      color: inherit;
      height: 31px;
      outline: none;
      padding: 5px 10px;
      
      @include placeholder {
        color: hsl(0, 0%, 48%);
      }
    }
    
    .fa {
      margin-left: 5px;

      &.clickable {
        cursor: pointer;
      }
    }

    .fa-close {
      color: hsl(358, 77%, 56%);
    }

    .fa-eye {
      color: hsl(137, 51%, 51%);
    }

    .fa-eye-slash {
      color: hsl(0, 0%, 60%);
    }
  }

  .error,
  .hint {
    padding: 0 10px;
    text-align: left;
  }

  .error {
    color: hsl(358, 77%, 56%);
    font-size: 12px;
    padding-top: 3px;
  }

  &.checked {
    .input {
      border: 2px solid hsl(137, 51%, 51%);
      color: hsl(137, 51%, 51%);
      padding: 3px 8px;
    }
  }

  &.active {
    .input {
      border: 2px solid hsl(137, 51%, 51%);

      input {
        height: 27px;
        padding: 3px 8px;
      }
    }    
  }

  &.invalid {
    .input {
      background-color: hsl(358, 77%, 78%);

      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 50px hsl(358, 77%, 78%) inset;
      }
    }
  }

  &.locked {
    color: hsl(0, 0%, 50%);
  }
}

@mixin form-typeahead {
  position: relative;

  > ul {
    @include position(absolute, 40px 0 0 0px);

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    z-index: $zindex-dropdown;

    > li {
      @include align-items(center);
      @include display(flex);

      cursor: pointer;
      color: hsl(60, 4%, 11%);
      height: 40px;
      padding: 0 12px;
      outline: 0;
      white-space: nowrap;

      &:nth-child(2n) {
        background-color: hsl(0, 0%, 96%);
      }

      &:nth-child(2n+1) {
        background-color: hsl(0, 0%, 93%);
      }

      &.hover {
        background-color: hsl(136, 52%, 51%);
        color: hsl(0, 0%, 100%);
      }
    }
  }
}

@mixin form-2 {
  > header {
    font-size: 42px;
    margin-bottom: 25px;

    > a {
      color: hsl(139, 72%, 35%);
      margin-right: 5px;
      text-decoration: none;
    }
  }
  
  > fieldset {
    border: 0;
    padding: 0;
    padding-bottom: 15px;

    > label {
      @include form-field;
    }
  }
  
  > footer {
    @include align-items(center);
    @include display(flex);
    @include justify-content(space-between);
  }
}

@mixin form-dimensions($form-size, $label-size:"25%") {
  width: $form-size;

  > fieldset {

    > label {
      .title {
        width: $label-size;
      }

      .input,
      .error,
      .hint {
        width: 100%;
      }

      .title ~ .input,
      .title ~ .error,
      .title ~ .hint {
        width: 100% - $label-size;
      }
    }

  }
}

.form-2 {
  @include form-2;
}

.form-field-radio-2 {
  @include form-field-radio;
}

.form-field-2 {
  @include form-field;
}

.cc-toggle {
  @include cc-toggle();
}

.typeahead {
  @include form-typeahead;
}

.select.cc {
  background-color: hsl(0, 0%, 98%);
  height: 40px;
  position: relative;

  > select {
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding-left: 10px;
    background: none;
    font-size: 16px;
    outline: none;

    appearance: none;
    -moz-appearance: radio-container;
    -webkit-appearance: none;
  }

  > i.fa {
    pointer-events: none;
    position: absolute;
    top: 12px;
    right: 10px;
  }
}

.checkbox.cc {
  cursor: pointer;

  i + input {
    display: none;
  }
}
