@mixin proportional-block {
  overflow: hidden;
  position: relative;
  
  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  
  > * {
    @include position(absolute, 0px 0px 0px 0px);
  }
}

.proportional-block {
  @include proportional-block;
  
  @each $props in
    ( 1  1), ( 1  2), ( 1  3),
    ( 2  1), ( 2  3),
    ( 3  1), ( 3  2), ( 3  4),
    ( 4  1), ( 4  2), ( 4  3),
    (16  9) 
  {

    $x: nth($props, 1);
    $y: nth($props, 2);

    &.x#{$x}y#{$y}::before {
      padding-top: 100% / $x * $y;
    }
  }
  
}
