//
// Cloud Button
//

$cloud-button-background-color: hsl(137, 51%, 51%);
$cloud-button-background-color-alert: hsl(0, 51%, 51%);
$cloud-button-background-color-disabled: hsl(0, 0%, 76%);
$cloud-button-border-color: hsl(140, 77%, 31%);
$cloud-button-border-color-alert: hsl(0, 77%, 31%);
$cloud-button-border-color-disabled: hsl(0, 0%, 55%);
$cloud-button-border-radius: 5pt;
$cloud-button-border-width: 1pt;
$cloud-button-color: hsl(0, 0%, 100%);
$cloud-button-color-disabled: $cloud-button-color;
$cloud-button-height: $base-unit * 2.65;
$cloud-button-font-size: 18pt;
$cloud-button-font-weight: 700;
$cloud-button-padding: 0 $base-unit * 1.25;
$cloud-button-icon-margin: $base-unit / 4;


@mixin cloud-button {
  width: 275pt;

  background-color: $cloud-button-background-color;
  border: $cloud-button-border-width solid $cloud-button-border-color;
  border-radius: $cloud-button-border-radius;
  
  display: inline-block;
  
  color: $cloud-button-color;
  text-decoration: none;
  
  cursor: pointer;
  
  height: $cloud-button-height;
  
  font-size: $cloud-button-font-size;
  font-weight: $cloud-button-font-weight;
  line-height: $cloud-button-height;
  
  padding: $cloud-button-padding;
  
  text-align: center;
  white-space: nowrap;
  
  &.alert {
    background-color: $cloud-button-background-color-alert;
    border-color: $cloud-button-border-color-alert;
  }
  
  &.disabled,
  &[disabled] {
    background-color: $cloud-button-background-color-disabled;
    border-color: $cloud-button-border-color-disabled;
    cursor: not-allowed;
  }
  
  > i {
    line-height: inherit;
  }
  
}

button.cloud {
  @include cloud-button;
}


$cc-button-background-color: hsl(136, 52%, 51%);
$cc-button-background-color-disabled: hsl(0, 0%, 88%);
$cc-button-background-color-alert: hsl(0, 75%, 55%);
$cc-button-color: hsl(0, 100%, 100%);
$cc-button-table-background-color: hsl(0, 0%, 98%);
$cc-button-table-color: hsl(0, 0%, 0%);
$cc-button-font-size: 15px;
$cc-button-height: 34px;
$cc-button-padding: 10px;
$cc-button-wide-padding: 55px;


@mixin cc-button {
  background-color: $cc-button-background-color;
  border: none;
  color: $cc-button-color;
  font-size: $cc-button-font-size;
  height: $cc-button-height;
  padding: 0 $cc-button-padding;
  
  > i.fa {
    margin-left: 5px;
  }
  
  &.alert {
    background-color: $cc-button-background-color-alert;
  }

  &[disabled] {
    background-color: $cc-button-background-color-disabled;
  }
  
}

@mixin transparent-button {
  border: none;
  background-color: transparent;
  margin: 0;
  outline: 0;
  padding: 0;
}

button.transparent {
  @include transparent-button();

  &.text {
    color: hsl(138, 63%, 37%);
    font-size: 15px;
  }
}

button.cc {
  @include cc-button;

  &.cc-wide {
    padding: 0 $cc-button-wide-padding;

    > i.fa {
      margin-left: 7px;
    }
  }

  &.cancel {
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 0%);
  }

  &.revoke {
    i.fa {
      color: hsl(355, 87%, 47%);
    }
  }
}


$orgpad-button-background-color: hsl(136, 52%, 51%);
$orgpad-button-background-color-alert: hsl(1, 76%, 54%);
$orgpad-button-color: hsl(0, 0, 100%);
$orgpad-button-color-inverse: hsl(139, 72%, 35%);
$orgpad-button-font-size: 14pt;
$orgpad-button-font-weight: 400;
$orgpad-button-height: 30pt;
$orgpad-button-padding: 0 10pt;
$orgpad-button-icon-margin: 8pt;

$orgpad-button-font-size-small: 8pt;
$orgpad-button-font-weight-small: 300;
$orgpad-button-height-small: 16pt;
$orgpad-button-padding-small: 0 10pt;



@mixin orgpad-button {
  background-color: $orgpad-button-background-color;
  color: $orgpad-button-color;
  
  border: none;
  
  @include display(inline-flex);
  @include justify-content(center);
  @include align-items(center);
  
  font-size: $orgpad-button-font-size;
  font-weight: $orgpad-button-font-weight;
  height: $orgpad-button-height;
  overflow: hidden;
  padding: $orgpad-button-padding;

  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  
  
  > * {
    line-height: 1em;
  }
  
  &.square {
    width: $orgpad-button-height;
    padding: 0;
    
    > i {
      margin: 0 auto;
    }
  }


  &.inverse {
    background-color: $orgpad-button-color;
    color: $orgpad-button-color-inverse;
  }
  
  &.alert {
    background-color: $orgpad-button-background-color-alert;
    
    &.inverse {
      background-color: $orgpad-button-color;
    }
  }
  

  &:disabled {
    background-color: desaturate($orgpad-button-background-color, 100%);
    
    &.alert {
      background-color: desaturate($orgpad-button-background-color-alert, 100%);
    }
  }
  
  &.small {
    font-size: $orgpad-button-font-size-small;
    font-weight: $orgpad-button-font-weight-small;
    height: $orgpad-button-height-small;
    padding: $orgpad-button-padding-small;
    text-transform: uppercase;
    
    &.square {
      width: $orgpad-button-height-small;
      padding: 0;
    }
  }
  
  > i.fa + * {
    margin-left: $orgpad-button-icon-margin;
  }
  
  > * + i.fa {
    margin-left: $orgpad-button-icon-margin;
  }

}


button.orgpad,
.orgpad-button {
  @include orgpad-button;
}

div.button {

  &.green {
    background-color: $orgpad-button-background-color;
    height: $orgpad-button-height;
    border: none;
    overflow: hidden;
    white-space: nowrap;    
    text-align: center;
    line-height: $orgpad-button-height;
    
    > a {
      font-size: $orgpad-button-font-size;
      font-weight: $orgpad-button-font-weight;
      color: $orgpad-button-color;
      padding: $orgpad-button-padding;
      text-decoration: none;
      display: block;
    }
  }
}


// Round buttons
//

$round-button-background-color: $disabled-grey-color;
$round-button-background-color-active: $accented-green-color;
$round-button-background-color-disabled: hsla(0, 0%, 93%, .5);
$round-button-color: $accented-white-color;
$round-button-spacer-size: $inner-margin-size;
$round-button-size: 24px;

ul.round-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  
  > li ~ li {
    margin-left: $round-button-spacer-size;
  }
}

.round-button,
.round-buttons > li {
  background-color: $round-button-background-color;
  color: $round-button-color;
  cursor: pointer;
  display: inline-block;
  border-radius: 100%;
  width: $round-button-size;
  height: $round-button-size;
  text-align: center;

  &.with-counter {
    border-radius: $round-button-size;
    min-width: $round-button-size;
    padding: 0 7px;
    width: auto;
  }

  &.active {
    background-color: $round-button-background-color-active;
  }
  
  &.disabled {
    background-color: $round-button-background-color-disabled;
    cursor: default;
  }
  
  > i {
    font-size: 14px;
    line-height: $round-button-size;

    + span {
      font-size: $basic-font-size;
      font-weight: 700;
      margin-left: 5px;
    }
  }
}
