$editable-article-blocks-background-color: hsl(0, 0, 96%);
$editable-article-blocks-active-background-color: hsl(0, 0, 100%);
$editable-article-blocks-color: hsl(60, 0, 35%);
$editable-article-blocks-active-color: hsl(0, 0, 85%);
$editable-article-blocks-title-background-color: hsl(0, 0, 93%);
$editable-article-blocks-title-icon-color: hsl(0, 0, 78%);

$editable-article-blocks-font-size: $base-font-size / 1.6;
$editable-article-blocks-title-font-size: $base-font-size / 2;
$editable-article-blocks-font-weight: 700;

$editable-article-block-border-width: 1pt;

@mixin editable-article-block {
    
    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    
    > ul > li {
        
        background-color: $editable-article-blocks-background-color;
        border: $editable-article-block-border-width solid $editable-article-blocks-background-color;
        color: $editable-article-blocks-color;
        line-height: 1em;
        padding: $base-unit - $editable-article-block-border-width;
        padding-right: 0;
        
        &:not(.title) {
            font-size: $editable-article-blocks-font-size;
            font-weight: $editable-article-blocks-font-weight;
        }
        
        &:not(:last-child) {
            margin-bottom: $editable-article-block-border-width * 2;
        }


        &.title {
            
            background-color: $editable-article-blocks-title-background-color;
            border-color: $editable-article-blocks-title-background-color;
            font-size: $editable-article-blocks-title-font-size;
            font-weight: normal;
            
            > i {
                color: $editable-article-blocks-title-icon-color;
                font-size: .9em;
                margin-right: 0;
                text-align: right;
            }
        }


        &.active,
        &:not(.title):hover {
            background-color: $editable-article-blocks-active-background-color;
            border-color: $editable-article-blocks-background-color;
            color: $editable-article-blocks-active-color;
            cursor: move;
        }


        > i {
            margin-right: .5em;
            width: 1em;
            text-align: center;
        }
        

    }
    
}


@mixin glued-editable-article-block ($class, $top: none, $right: none, $bottom: none, $left: none) {
    
    &.#{$class} {
        position: fixed;

        @if $top    != none { top:      $top;       }
        @if $right  != none { right:    $right;     }
        @if $bottom != none { bottom:   $bottom;    }
        @if $left   != none { left:     $left;      }
    }
    
}
