<%= link_to 'Vacancies', company_vacancies_path(@vacancy.company) %>

<div class="editable-article-wrapper">
  <%= render 'shared/companies/side_nav', company: @vacancy.company, klass: Vacancy %>
  <%= render 'shared/droppable_article', object: @vacancy %>
  <%= render 'shared/blocks_editor', collection: Vacancy::BLOCK_TYPES if can?(:manage, Vacancy) %>
</div>
