@mixin profile-settings-fixed-width-button {
  > ul {
    @include flex-ul;
    @include justify-content(center);

    width: $base-unit * 4;
    font-size: 12pt;

    > li {
      > i.fa {
        margin-left: 8pt;
      }
    }
  }
}

$profile-settings-section-margins: 30pt 0;
$profile-settings-section-header-font-size: 30pt;
$profile-settings-section-header-margins: 0 0 10pt;

$profile-settings-personal-avatar-size: 125pt;
$profile-settings-personal-letter-avatar-size: $profile-settings-personal-avatar-size / 3;
$profile-settings-personal-letter-avatar-font-size: $profile-settings-personal-letter-avatar-size / 1.5;
$profile-settings-personal-letter-avatar-font-weight: 300;

$profile-settings-personal-name-font-size: 18pt;

$profile-settings-personal-occupations-font-size: 11pt;
$profile-settings-personal-occupations-font-weight: 400;

main.user-profile .emails-wrapper {

  > ul.emails {
    @include flex-ul;
    @include flex-direction(column);

    > li {
      @include display(flex);

      margin-bottom: $base-unit / 1.5;

      > div.address {

        &.green {
          color: $north-texas-green;
        }

        &.grey {
          color: $jumbo;
        }
      }

      > button.orgpad {
        @include profile-settings-fixed-width-button;

        &.resend, &.verify {
          margin-right: $base-unit / 2;
        }
      }

      > a.delete-link {
        color: $cg-red;
        padding-top: 8px;
        margin-left: $base-unit / 2;
      }

      > input[type='email'] {
        background-color: $white-smoke;
        border: none;
        outline: none;
        height: $orgpad-button-height;

        &.error {
          background-color: $baby-pink;
        }
      }

      > div.address, input[type='email'] {
        font-size: $basic-font-size;
        padding: 8px 10px;
        width: $base-unit * 12;
      }

    }

  }

  > button {
    @include profile-settings-fixed-width-button;
  }
}