@mixin profile-settings-fixed-width-button {
  > ul {
    @include flex-ul;
    @include justify-content(center);

    width: $base-unit * 4;
    font-size: 12pt;

    > li {
      > i.fa {
        margin-left: 8pt;
      }
    }
  }
}

$profile-settings-section-margins: 30pt 0;
$profile-settings-section-header-font-size: 30pt;
$profile-settings-section-header-margins: 0 0 10pt;

$profile-settings-personal-avatar-size: 125pt;
$profile-settings-personal-letter-avatar-size: $profile-settings-personal-avatar-size / 3;
$profile-settings-personal-letter-avatar-font-size: $profile-settings-personal-letter-avatar-size / 1.5;
$profile-settings-personal-letter-avatar-font-weight: 300;

$profile-settings-personal-name-font-size: 18pt;

$profile-settings-personal-occupations-font-size: 11pt;
$profile-settings-personal-occupations-font-weight: 400;

main.user-profile .emails-wrapper {

  > ul.emails {
    @include flex-ul;
    @include flex-direction(column);

    width: 100%;

    > li {
      @include display(flex);

      margin-bottom: $base-unit / 1.5;
      width: 100%;

      > div.address {

        &.green {
          color: $accented-green-color;
        }

        &.grey {
          color: hsl(0, 0%, 53%);
        }
      }

      > button.orgpad {
        @include profile-settings-fixed-width-button;

        background-color: $accented-green-color;

        &.alert {
          background-color: $accented-red-color;
        }

        + * {
          margin-left: $inner-margin-size;
        }
      }

      > div.address, input[type='email'] {
        @include flex(1);

        height: 40px;
        font-size: $big-font-size;
        font-weight: 300;
        margin: 0;
        padding: 8px 10px;
        position: relative;

        + * {
          margin-left: $inner-margin-size;
        }

        > a.delete-link {
          color: $accented-red-color;
          font-size: 24px;
          font-weight: 400;
          margin-left: $base-unit / 2;
          position: relative;
          top: 3px;
        }
      }

    }

  }

  > button {
    @include profile-settings-fixed-width-button;
  }
}