.user-profile .settings {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(column);

  margin-bottom: 30px;
  width: 100%;

  > section, > form {
    width: 476px;
  }

  > section > h2,
  > form > h2 {
    font-size: $huge-font-size;
    font-weight: 100;
    margin-bottom: $default-margin-size;
    width: 100%;
  }

  @mixin settings-form {
    @include align-items(stretch);
    @include display(flex);
    @include flex-direction(column);

    > input {
      width: 100%;
    }

    > footer {
      @include display(flex);

      > div {
        @include flex(1);
      }
    }
  }

  @mixin settings-subscription {
    > label {
      font-size: $basic-font-size;
      font-weight: 400;

      > input {
        font-weight: 300;
        margin-right: $inner-margin-size;
      }
    }
  }

  > form {
    @include settings-form;
  }

  > .invitation-form {
    [contenteditable] {
      font-size: $basic-font-size;
      margin-bottom: $default-margin-size;
      outline: none;

      &:empty::before {
        color: black;
        content: attr(data-placeholder);
        opacity: .25;
        outline: none;
      }
    }
  }

  > .subscription {
    @include settings-subscription;
  }
}