main.user-profile {
  .settings {
    margin: $gutter-size auto;
    width: 500px;

    fieldset {
      margin: 0;
      margin-bottom: $gutter-size;

      > label {
        @include flex-wrap(wrap);
        @include justify-content(flex-end);

        .title {
          width: 25%;
        }

        .input,
        .error {
          @include flex(0 1 auto);
          width: 100%;
        }
        
        .title ~ .input,
        .title ~ .error {
          width: 75%;
        }
      }
    }

    footer {
      margin: 0;
    }

    button {
      width: auto;
    }
  }
}