.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;

  > ul {
    @include display(flex);

    list-style: none;
    margin: 0;
    padding: 0;

    &.container {
      @include transition(transform .5s ease-in-out);

      > li {
        @include display(flex);
        @include justify-content(center);
      }
    }
  }

  &.no-transition {
    > ul.container {
      @include transition(none);
    }
  }
}