@import "vars";

.content-button {
  text-align: center;

  > a, button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  > p {
    margin-top: - $font-size_base / 3;
    margin-bottom: - $font-size_base / 3;

    @media #{$media-phone} {
      font-size: $font-size_small;
    }
  }
}
