@import "vars";

.site-header {
  align-items: center;
  -webkit-align-items: center;

  display: flex;
  display: -webkit-flex;

  height: $site-header-height;

  justify-content: space-between;
  -webkit-justify-content: space-between;

  margin: 0 auto;
  width: $content-block-width;

  &__logo {
    background-image: url('../../../images/max-logo.png');
    background-size: contain;
    display: block;
    height: 25px;
    width: 100px;
  }

  @media #{$media-phone} {
    box-sizing: border-box;
    outline: 1px solid #f0f;
    padding: 0 30px;
    width: 100%;
  }
}
