<% set_meta_tags(
title: "#{@user.full_name} @#{@user.twitter}",
og: {
  title: t('meta.user.title', name: @user.full_name, twitter: @user.twitter),
  image: user_preview_url(@user) + '.png',
  url: user_url(@user),
  description: t('meta.user.description', name: @user.full_name)
} 
) %>

<% content_for :header_menu do %>
  <%= render 'shared/users/header_menu' %>
<% end %>

<% content_for :class_for_main, 'user-profile' %>

<% content_for :class_for_body, 'user-profile-body' %>

<div data-react-class="components/profile_app" data-react-props="<%= { uuid: @user.id }.to_json %>"></div>
