<nav>

  <p>
    <%= image_tag company.logo.url %>
  </p>
  
  <p>
    <%= company.description %>
  </p>

  <ul class="<%= source.name.underscore.dasherize %>-sections">
    <% source.const_get('SECTIONS').each do |key, value| %>
      <li><%= link_to key, "##{value}", class: 'bold' %></li>
    <% end %>
  </ul>
  
</nav>
