<ul>
  <li>
    <%= link_to t('.about_us', default: 'About us'), '' %>
  </li>

  <li>
    <%= link_to t('.support', default: 'Support'), '' %>
  </li>
  
  <li>
    <%= link_to t('.contacts', default: 'Contacts'), '' %>
  </li>
</ul>