<div class="cloud-chart">
    <%= link_to :root do %>
        Cloud<strong>Chart</strong>
    <%- end -%>
</div>


<div class="login-and-signup">
    <%= link_to t('.login'), "" %>
    <%= link_to content_tag(:i, nil, class: 'fa fa-pencil') + t('.sign_up'), "", class: :button %>
</div>
