<div class="cloud-chart">
    Cloud<strong>Chart</strong>
</div>


<div class="login-and-signup">
    <%= link_to t('.login'), "" %>
    <%= link_to content_tag(:i, nil, class: 'fa fa-pencil') + t('.signup'), "", class: :button %>
</div>
