<p>
  CloudChart is a convenient tool to chart and profile your company. Use it to clarify your team structure, your products, your goals, and become transparent. Transparency benefits your teams, your partners, and your investors.
</p>
<p>
  CloudChart is always free to use. If you have questions, want a product tour, or just want to talk about CloudChart, simply reply to this email or write to <%= mail_to ENV['REPLY_TO_EMAIL'] %>
</p>
<p>
  Good luck using CloudChart!
  <br>
  — Team CloudChart
</p>
