<p>
  <%= search_field_tag :query, nil, class: 'people-search', placeholder: 'Type at least 3 characters to search people', size: 50 %>  
</p>

<div class="search-result"></div>
<div class="ajax-loader"></div>
