<ul>
  <li>
    <%= mail_to ENV['SUPPORT_EMAIL'], t('.support', default: 'Support') %>
  </li>
  
  <li>
    <%= mail_to ENV['REPLY_TO_EMAIL'], t('.contacts', default: 'Contacts') %>
  </li>

  <li>
    <%= link_to t('.legal', default: 'Legal'), main_app.page_path(:legal) %>
  </li>

  <li>
    <%= link_to t('.privacy', default: 'Privacy'), main_app.page_path(:privacy) %>
  </li>
</ul>
