<% set_meta_tags og: {
  title: 'CloudChart',
  image: og_image_url,
  url: root_url,
  description: 'CloudChart is a convenient tool to chart and profile your company. Use it to clarify your team structure, your products, your goals, and become transparent. Transparency benefits your teams, your partners, and your investors.'
} %>

<section class="about">
  <header>
    Get your growth into the groove
  </header>
  
  <p>
    Learn how successful startups came to life.
    <br />
    Build a timeline of major milestones in your company's growth.
  </p>
</section>

<section class="picture">
  <figure>
    <%= image_tag('landing-timeline.svg') %>
  </figure>
</section>

<section class="tentative">
  <p>
    We’re building a collection of successful founder stories
    <br />
    into a very visual and informative guide for first-time founders.
  </p>
  <p>
    Excited?
  </p>
</section>

<section class="invite" data-react-class="components/landing/invite" data-react-props="<%= { value: 'Get Invited' }.to_json %>">
  <button>Get Invited</button>
</section>
