<% set_meta_tags og: {
  title: ENV['SITE_NAME'],
  image: og_image_url,
  url: main_app.root_url,
  description: t('meta.app_description')
} %>

<%= render 'shared/subscription' %>

<section data-react-class="components/landing_app" data-react-props="<%= {
    isAuthorized: current_user.twitter.present?,
    isProductHunt: params[:ref] == 'producthunt',
    productHuntURL: collection_url(ENV['PH_COLLECTION_ID']),
    featured_pinboard: ENV['FEATURED_COLLECTION_ID']
  }.to_json %>" >
</section>


<noscript>
  <section class="cc-container-common">
    <header>
      <button class="close">×</button>
      <h1>Bite-size insights for founders</h1>
      <h2>Get valuable insights by successful founders and investors. Share your own.</h2>
    </header>
  </section>

  <section class="cc-container-common">
    <header>
      <h1>How to launch on Product Hunt &mdash;</h1>
      <button class="follow">Follow</button>
    </header>

    <section class="full-width">
      <section class="content columns">
        <div class="item">
          <div>
            1
          </div>
        </div>
        <div class="item">
          <div>
            1
          </div>
        </div>
        <div class="item">
          <div>
            1
          </div>
        </div>
      </section>
    </section>
  </section>


  <section class="cc-container-common">
    <header>
      <h1>Featured collections</h1>
      <h2>Collect insights. Create your own collections. Share with your team and the community.</h2>
    </header>

    <section class="flow">
      <div class="item">
        <div class="pinboard">
          1
        </div>
      </div>
      <div class="item">
        <div class="pinboard">
          2
        </div>
      </div>
    </section>
  </section>

  <section class="cc-container-common">
    <header>
      <h1>Featured companies</h1>
      <h2>Follow unicorns and learn how they are growing.</h2>
    </header>

    <section class="flow">
      <div class="item">
        <div class="company">
          1
        </div>
      </div>
      <div class="item">
        <div class="company">
          2
        </div>
      </div>
      <div class="item">
        <div class="company">
          3
        </div>
      </div>
    </section>
  </section>

  <section class="cc-container-common">
    <section>
      Subscription
    </section>
  </section>
</noscript>
