<%- class_for_root_tag main: :welcome, header: :green -%>

<article>
  
  <section class="index">
    
    <h1>
      See how successful startups are structured. Learn by example. Adjust your own company structure.
    </h1>
    
    <button>
      <%= font_awesome 'magic' %>
      <%= t '.button_title', default: 'Try it free' %>
    </button>
    
  </section>
  
</article>