<% set_meta_tags og: {
  title: 'CloudChart',
  image: og_image_url,
  url: root_url,
  description: t('meta.app_description')
} %>

<header>
  <h1>Learn from Unicorns</h1>
  <h2>Discover how successfull startups have grown</h2>
</header>

<section data-react-class="components/welcome_app" class="featured-posts">
</section>

<footer>
  <%= link_to "Start Learning", cloud_profile.login_path, class: "cc" %>
</footer>
