<% set_meta_tags og: {
  title: 'CloudChart',
  image: og_image_url,
  url: root_url,
  description: t('meta.app_description')
} %>

<section data-react-class="components/landing_app" data-react-props="<%= { isAuthorized: current_user.twitter.present? }.to_json %>" class="landing-wrapper">
</section>