<div class="main">
  <div class="header">
    <table>
      <td class="logo">
        <%= app_logo_for_header(old: true) %>
      </td>
      <td class="title">
        <%= app_name_for_header %>
      </td>
    </table>
  </div>
  <div class="content">
    <div class="wrapper">
      <div class="child">
        <table>
          <tr>
            <td class="text">
              <p>Hello time traveller,
              you have bravely made it so far, but your steam-powered Internet browser seems unfit for the present time. Feel free to <a href="https://www.google.com/chrome/browser/desktop/" target="_blank">download the shiny modern Google Chrome</a>, otherwise proceed at your own risk.</p>
            </td>
          </tr>
          <tr>
            <td class="button">
              <a href="<%= session[:previous_path] %>">I'll do it my way, let me in!</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
