.pinboard-card {
  background-color: white;
  padding: 20px;

  > header {

    > h1, > h2 {
      margin: 0;
    }

    > h1 {
      @include align-items(center);
      @include display(flex);
      @include justify-content(space-between);

      font-size: 20px;
      font-weight: 600;

      > a > i {
        margin-left: 5px;
      }
    }

    > h2 {
      font-size: 16px;
      font-weight: 300;
      margin-top: 10px;
    }

  }

  > footer {
    @include align-items(center);
    @include display(flex);
    @include justify-content(space-between);

    border-top: 1px solid whitesmoke;
    margin-top: 20px;
    padding-top: 20px;

    > ul.statistics {
      font-size: 12px;
      font-weight: 400;
      list-style: none;
      margin: 0;
      padding: 0;
      text-transform: uppercase;

      > li {
        color: hsl(60, 2%, 70%);
        display: inline;
      }

      > li ~ li {
        margin-left: 10px;
      }
    }
  }
}

.pinboard-card.placeholder {
  background-image: image_url('placeholders/pinboard.png');
  background-size: cover;
  height: 204px;
}
