.content-block {
  margin: 90px auto;
  width: $content-block-width;
  outline: 1px solid #f0f;

  > h2 {
    margin: - $h2-font-size / 3 auto;
    text-align: center;
    width: 700px;
  }

  > h2 ~ * {
    margin-top: 35px;
  }

  @media #{$media-phone} {
    width: $content-block-width-phone;
  }

}
