$h1-color: #000000;
$h1-font-size: 48px;
$h1-line-height: 50px;

$h2-color: #000000;
$h2-font-size: 26px;
$h2-line-height: 36px;

$base-background-color: #fafafa;
$base-border-radius: 5px;
$base-color: #4c4c4c;
$base-font-size: 18px;
$base-line-height: 26px;

$link-color: #3bc462;

$small-color: #a6a6a6;
$small-font-size: 14px;
$small-line-height: 18px;

$caps-color: #c8ae88;
$caps-font-size: 12px;
$caps-line-height: 12px;

$site-header-height: 80px;

$button-height: 50px;

$button-opaque-font-size: 16px;
$button-opaque-padding: 40px;

$button-transparent-font-size: 14px;
$button-transparent-padding: 20px;

$content-block-width: 944px;
$content-block-width-phone: 320px;

$media-phone: "only screen and (min-device-width : 320px) and (orientation : portrait)";
