article section {
  
  .identity-block.company {

    margin: 0;
    
    > form {
      @include display(flex);
      @include flex-wrap(wrap);
    
      .company {
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);

        background-color: #eee;
        border: 1pt solid #ccc;
        color: #999;
        font-size: 15pt;
        font-weight: 700;
        height: $base-unit * 7;
        margin: 0 $base-unit $base-unit 0;
        padding: $base-unit;
        position: relative;
        width: 30%;
        
        > i {
          margin-right: $base-unit / 2;
        }
        
        .delete {
          bottom: $base-unit / 4;
          color: hsl(0, 75%, 50%);
          font-size: 12pt;
          position: absolute;
          right: $base-unit / 4;
          
          &:hover {
            color: hsl(0, 100%, 50%);
            cursor: pointer;
          }
        }
        
      }
    
    }
    
  }
  
}
