article section {
  
  .identity-block.block_image {
    
    form {
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      
      background-color: hsl(0, 0, 96%);
      border: 1px solid #ccc;
    
      margin: 0;
      min-height: 20 * $base-unit;
      overflow: hidden;
      padding: 0;
      position: relative;
      
      
      img {
        position: absolute;
        left: 0;
        top: 0;
      }
      
      
      input[type="file"] {
        @include position(absolute, 0px 0px 0px 0px);

        cursor: pointer;
        opacity: 0;
        z-index: 1;
      }
      
      
      .placeholder {
        font-size: 12pt;
        line-height: 1.25em;
        opacity: .2;
        padding-left: 1.75em;
        position: relative;
        width: $base-unit * 15;
        
        i {
          left: 0;
          position: absolute;
          top: 1pt;
        }

        h4 {
          font-size: 14pt;
          font-weight: 700;
          margin: 0;
          
        }
        
        p {
          font-weight: 400;
          margin: .8em 0 0;
        }
        
      }
      
      
    }
    
  }

}
