$editor-article-width: $base-unit * 40;

$editor-section-header-input-font-size: 15pt;
$editor-section-header-input-font-weight: 700;

// Editor section header input
@mixin editor-section-header-input {
  border: none;
  font-size: $editor-section-header-input-font-size;
  font-weight: $editor-section-header-input-font-weight;
  outline: none;
  padding: 0;
}


// Editor article
article.editor {
  width: $editor-article-width;
  margin: 0 auto;
  
  
  > section {
    
    padding: 0 0 $base-unit * 2;
    
    > header {
      
      input {
        @include editor-section-header-input;
        width: 100%;
      }
      
    }
    
    > .new-block-placeholder {
      border: 2px dashed #eee;
      margin-top: $base-unit;
      padding: $base-unit;
    }
    
    > .paragraph {
      font-size: 15pt;
      margin: $base-unit 0 0 $base-unit * 2;
      padding: 0;
      position: relative;
      
      > .lock {
        @include position(absolute, 50% 0 0 $base-unit * -2);
        font-size: 15pt;
        margin-top: -.5em;
        opacity: .5;
        text-align: center;
        width: $base-unit * 2;
      }
      
      > div {
        margin: 0;
        outline: none;

        &:empty:before {
          content: attr(data-placeholder);
          font-style: italic;
          opacity: .25;
        }
      }
    }
    
  }
  
}
