.modal-container .chooser {
  
  padding: 20px;
  width: 540px;
  
  // Query
  //
  > header {
    
    border-bottom: 1px solid #ccc;
    
    > input {
      border: none;
      font-size: 16px;
      height: 34px;
      margin: 0;
      outline: none;
      padding: 0 10px;
      width: 100%;
    }
    
  }
  
  // List
  //
  > section {
    max-height: 300px;
    min-height: 150px;
    overflow: scroll;
    padding: 5px;

    > ul {
      @include display(flex);
      @include flex-wrap(wrap);

      padding: 0;
    }

    .separator {
      border-bottom: 1px solid #ccc;
      margin-top: 20px;
      margin-bottom: 10px;
      padding-bottom: 5px;
      width: 100%;
    }
    
    > ul li {
      @include align-items(center);
      @include display(flex);

      font-size: 15px;
      font-weight: 600;
      margin: 0;
      overflow: hidden;
      padding: 5px;
      position: relative;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 50%;

      > .cc-icon {
        display: none
      }
      
      &:hover {
        background-color: #eee;
        cursor: pointer;

        > .cc-icon {
          @include position(absolute, 50% 10px 0 0);

          color: #e31937;
          display: inline-block;
          font-size: 24px;
          margin-top: -12px;
        }
      }

      > i.fa {
        background-color: hsla(0, 77%, 57%, 1);
        color: hsl(0, 100%, 100%);
        border-radius: 100%;
        font-size: 12px;
        height: 34px;
        line-height: 34px;
        margin-right: 10px;
        width: 34px;
        text-align: center;
      }

      > span {
        overflow: hidden;
        padding-right: 30px;
        text-overflow: ellipsis;
      }

      > .avatar {
        font-size: 14px;
        height: 34px;
        margin-right: 10px;
        padding-top: 0;
        width: 34px;
      }
      
      &.new > i.fa {
        background-color: hsl(136, 52%, 51%);
      }
    }
  }
  
}
