// Editor -> People
//

article.editor > section.people {

  > ul {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(center);
    
    list-style: none;
    margin: 0;
    margin-left: -$editor-gutter;
    padding: 0;
    
    > li {
      @include flex(0 0 27%);

      margin: 0;
      margin-top: 20px;
      padding: 0;
      padding-left: $editor-gutter;

      &:nth-child(-n+3) {
        margin-top: 0;
      }

      &.hanging {
        @include calc(padding-left, 23% + #{$editor-gutter});
        @include flex-basis(50%);
      }

      &.hanging + li {
        @include flex-basis(50%);

        padding-right: 23%;
      }

      &.hanging + li + li {
        margin-top: 20px;
      }

      &.shifting, &.shifting ~ li:not(.placeholder) {
        @include transition(transform 150ms ease-out);
      }
    }

    > .placeholder .person > aside {
      background-color: $editor-placeholder-background-color;
      color: $editor-placeholder-color;

      span {
        font-size: 100px;
      }
    }

    > .placeholder:not(:first-child) {
      @include flex-basis(0);

      padding: 0;
      position: relative;

      > .person {
        @include position(absolute, 50px 0 0 -20px);
        @include transform(scale(0.5, 0.5));
        @include transition(all 150ms ease-out);
        
        height: 100px;
        opacity: 0;
        width: 100px;

        figure > i.hint {
          display: none;
        }
      }
    }
  
    > .placeholder:nth-child(3n+1) .person {
      > aside {
        margin-top: 0;
      }
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &:hover > ul {
    > .shifting, .shifting ~ li:not(.placeholder) {
      @include transform(translateX(-40px));
    }

    > .placeholder:not(:first-child) {
      > .person {
        @include transform(scale(1, 1));
        opacity: 1;
      }
    }
  }
}


// Editor -> Person
//
article.editor > section.people div.person {
  margin: 0;
  position: relative;
  
  > i.remove {
    @include position(absolute, $editor-gutter / 2 $editor-gutter / 2 0 0);
    @include transform(translate(-100%, 100%));
    @include transition(transform 150ms ease-out);

    color: $editor-remove-button-color;
    cursor: pointer;
    font-size: $editor-remove-button-font-size;
    visibility: hidden;
  }

  &:hover {
    > i.remove {
      @include transform(translate(0, 0));
    }
  }
  
  &.editable:hover > i.remove {
    visibility: visible;
  }
  
  &.editable > aside {
    cursor: pointer;
  }
  
  > footer {
    padding: 10px 20px 0 20px;
    
    > p {
      margin: 0;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      
      &.name {
        font-size: $editor-person-name-font-size;
      }

      &.occupation {
        color: hsl(0, 0%, 50%);
        font-size: $editor-person-occupation-font-size;
      }
    }
  }
}


// Person -> Avatar
//
.person > aside.avatar {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 0;
  margin: 0;
  padding: 0;
  padding-top: 100%;
  position: relative;
  
  > figure {
    @include position(absolute, 50% 0px 0 0px);
    @include transform(translateY(-50%));
    
    display: inline-block;
    font-size: $editor-placeholder-font-size;
    font-weight: 100;
    line-height: 1em;
    text-align: center;
    
    i.hint {
      @include position(absolute, 85% 0px 0 0px);

      font-size: .25em;
      font-style: normal;
      line-height: 1em;
      text-transform: uppercase;
    }
  }
  
}
