.editor > .picture {
  width: 100%;

  .picture-wrapper {
    @include align-items(center);
    @include display(flex);
    @include justify-content(center);

    position: relative;

    > button {
      @include position(absolute, 0 10px 10px 0);

      font-size: 16px;
    }

    img {
      cursor: pointer;
    }
  }
  
  .placeholder {
    background-color: $editor-placeholder-background-color;
    cursor: pointer;
    height: 0;
    opacity: .25;
    overflow: hidden;
    padding-top: 50%;
    position: relative;
    
    > .content {
      @include align-items(center);
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(center);
      @include position(absolute, 0px 0px 0px 0px);
    }
    
    header,
    p {
      font-size: 15px;
      margin: 5px 0;
      width: 400px;
    }
    
    header > i {
      margin-left: -1.5em;
      width: 1.5em;
    }
  }
  
  .image-input {
    position: relative;
  }
  
  img {
    width: 100%;
  }
  
  input[type="file"] {
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
  } 
}

.wrapper.editor img {
  cursor: pointer;
}

.post.preview .cover {
  width: 100%;
}

.editor .picture .picture-wrapper.small img,
.editor .picture img.small,
.post.preview img.cover.small {
  @include has-columns(4);
}

.editor .picture .picture-wrapper.medium img,
.editor .picture img.medium,
.post.preview img.cover.medium {
  @include has-columns(6);
}
