article.editor > section.quote {
  [contenteditable] {
    cursor: text;
    font-size: 26px;
    font-style: italic;
    line-height: 35px;
    outline: none;

    &:empty::before {
      content: attr(data-placeholder);
      opacity: .25;
      outline: none;
    }
  }

  .editor-field-wrapper > aside {
    height: 40px;

    .hint {
      width: 250px;
    }
  }

  .people-list {
    margin-top: 20px;
  }

  [contenteditable] + aside {
    height: 35px;
  }
}
