.modal-container form.vacancy {
  
  padding: 20px;
  width: 740px;
  
  > header {
    @include display(flex);
    
    margin: 0;
    
    > input {
      @include flex(1);
      
      border: none;
      font-size: 32px;
      height: 40px;
      margin: 0;
      outline: none;
      padding: 0 10px;
    }
  }
  
  > section {
    @include align-items(flex-start);
    @include display(flex);

    margin: 20px 0;
    
    > aside {
      @include display(flex);
      
      background-color: hsl(0, 0%, 98%);
      height: 150px;
      margin-right: 20px;
      width: 150px;
      
      > i.fa {
        background-color: hsl(0, 77%, 57%);
        border-radius: 40px;
        color: hsl(0, 100%, 100%);
        font-size: 16px;
        height: 80px;
        line-height: 80px;
        margin: auto;
        text-align: center;
        width: 80px;
      }
    }
    
    > fieldset {
      @include flex(1);
      
      border: none;
      margin: 0;
      padding: 0;
      
      > textarea {
        background-color: hsl(0, 0%, 98%);
        border: none;
        font-size: 16px;
        height: 150px;
        outline: none;
        padding: 10px;
        resize: none;
        width: 100%;
      }
    }
  }
  
  > footer {
    margin: 0;
  }
}