.modal-container .vacancy-chooser {
  
  padding: 20px;
  width: 540px;
  
  // Query
  //
  > header {
    
    border-bottom: 1px solid #ccc;
    
    > input {
      border: none;
      font-size: 16px;
      height: 34px;
      margin: 0;
      outline: none;
      padding: 0 10px;
      width: 100%;
    }
    
  }
  
  // List
  //
  > section {
    max-height: 300px;
    min-height: 150px;
    overflow: scroll;
    padding: 5px;
    
    > div {
      display: inline-block;
      font-size: 15px;
      font-weight: 600;
      margin: 0;
      overflow: hidden;
      padding: 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 50%;
      
      &:hover {
        background-color: #eee;
        cursor: pointer;
      }

      > i.fa {
        background-color: hsla(0, 77%, 57%, 1);
        color: hsl(0, 100%, 100%);
        border-radius: 17px;
        font-size: 12px;
        height: 34px;
        line-height: 34px;
        margin-right: 10px;
        width: 34px;
        text-align: center;
      }
      
      &.new > i.fa {
        background-color: hsl(136, 52%, 51%);
      }
    }
  }
  
}
