@import 'vars';

.insight-card {
  background-color: white;
  border-radius: $base-border-radius;
  border-bottom: 1px solid rgba(0, 0, 0, .25);
  opacity: 1;
  padding: 30px;

  &__animation {
    display: flex;
    display: -webkit-flex;

    -webkit-flex-direction: column-reverse;
            flex-direction: column-reverse;

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }

  &-enter-active {
    background: red;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;

    -webkit-transition-duration: 750ms;
            transition-duration: 750ms;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  &-leave-active {
    background: blue;
    opacity: 0;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transition-duration: 750ms;
            transition-duration: 750ms;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }


  > p.content {
    margin: - $base-font-size / 3 0;
  }

  > ul.controls {
    margin: (20px - $base-font-size / 3) 0 (- $base-font-size / 3);
  }


}
