.insights {

  &__list {
    display: flex;
    display: -webkit-flex;
    margin-left: -5px;
    margin-right: -5px;
    overflow: hidden;

    &-el {
      flex: 1;
      -webkit-flex: 1;
      margin: 0 5px;

      > * ~ * {
        opacity: 0;
      }
    }
  }
}
