@import 'vars';

$transition-duration: 750ms;
$head-height: 50px;
$head-height-touch: 75px;
$padding: 30px;

.insights {

  &__head {
    height: $head-height;
    overflow-y: hidden;
    position: relative;

    @include respond-to(iphone) {
      height: $head-height-touch;
    }

    &-label {
      display: block;
      -webkit-font-smoothing: subpixel-antialiased;
              font-smoothing: subpixel-antialiased;
      height: $head-height;
      opacity: 1;
      width: 100%;
      white-space: normal;

      @include respond-to(iphone) {
        box-sizing: border-box;
        left: 0px;
        top: 10px;
        padding: 0 30px;
        position: absolute;
        width: 100%;
      }

      &-leave {
        opacity: 1;
        -webkit-transition-duration: 0;
                transition-duration: 0;
        -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);

        @include respond-to(iphone) {
          -webkit-transform: translate3d(0%, 0, 0);
                  transform: translate3d(0%, 0, 0);
        }

        &-active {
          opacity: 0;
          -webkit-transition-duration: $transition-duration;
                  transition-duration: $transition-duration;
          -webkit-transform: translate3d(0, -200%, 0);
                  transform: translate3d(0, -200%, 0);

          @include respond-to(iphone) {
            -webkit-transform: translate3d(-100%, 0, 0);
                    transform: translate3d(-100%, 0, 0);
          }
        }
      }

      &-enter {
        opacity: 0;
        -webkit-transition-duration: 0;
                transition-duration: 0;
        -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);

        @include respond-to(iphone) {
          -webkit-transform: translate3d(100%, 0, 0);
                  transform: translate3d(100%, 0, 0);
        }

        &-active {
          opacity: 1;
          -webkit-transition-duration: $transition-duration;
                  transition-duration: $transition-duration;
          -webkit-transform: translate3d(0, 0%, 0);
                  transform: translate3d(0, 0%, 0);

          @include respond-to(iphone) {
            -webkit-transform: translate3d(0%, 0, 0);
                    transform: translate3d(0%, 0, 0);
          }
        }
      }
    }
  }

  &__list {
    display: flex;
    display: -webkit-flex;
    overflow: hidden;
    margin: 0 -5px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000;

    @include respond-to(iphone) {
      box-sizing: border-box;
      display: block;
      min-height: auto;
      overflow: visible;
      overflow-x: hidden;
      position: relative;
      white-space: nowrap;
      margin: 0;
      padding: 10px 0;
    }

    &-el {
      position: relative;
      flex: 1;
      -webkit-flex: 1;
      margin: 0 5px;
      white-space: normal;
      opacity: 1;
      -webkit-font-smoothing: antialiased;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      -webkit-perspective: 1000;

      @include respond-to(iphone) {
        margin: 0;
        display: inline-block;
        padding: 0 30px;
        vertical-align: top;
        -webkit-flex: none;
                flex: none;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);

        &-enter {
          opacity: 0.5;
          -webkit-transform: translate3d(99%, 0, 0);
                  transform: translate3d(99%, 0, 0);
          -webkit-transition-duration: 0;
                  transition-duration: 0;

          &-active {
            opacity: 1;
            -webkit-transform: translate3d(0%, 0, 0);
                    transform: translate3d(0%, 0, 0);
            -webkit-transition-duration: $transition-duration;
                    transition-duration: $transition-duration;
          }
        }

        &-leave {
          opacity: 1;
          -webkit-transform: translate3d(-100%, 0, 0);
                  transform: translate3d(-100%, 0, 0);
          -webkit-transition-duration: 0;
                  transition-duration: 0;

          &-active {
            opacity: 0.5;
            -webkit-transform: translate3d(-200%, 0, 0);
                    transform: translate3d(-200%, 0, 0);
            -webkit-transition-duration: $transition-duration;
                    transition-duration: $transition-duration;
          }
        }
      }

      > * ~ * {
        opacity: 0;
      }
    }
  }
}
