$access-rights-list-item-height: 50px;
$access-rights-list-item-padding: 15px;
$access-rights-user-list-action-column-width: 65px;

.company-access-rights-container {
  padding: 30px;
}

.access-rights {
  font-size: 15px;
  margin: 0 auto;
  width: 700px;

  .modal-container > & {
    header {
      background-color: hsl(60, 11%, 98%);

      padding: 25px 95px;
    }
  }

  header {
    font-size: 30px;
    padding: 0 95px;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    > button {
      @include position(absolute, 50% 0 0 0px);

      color: hsl(136, 52%, 51%);
      font-size: 60px;
      margin-top: -38px;
    }
  }

  .content {
    padding: 30px 95px 50px;
  }

  .users-list {
    > table {
      border-collapse: separate;
      font-size: 16px;
      left: -$access-rights-user-list-action-column-width;
      margin-bottom: 10px;
      position: relative;

      tr {
        height: $access-rights-list-item-height;

        > .actions {
          text-align: center;
          vertical-align: middle;
          width: $access-rights-user-list-action-column-width;

          > button {
            height: 25px;
            text-align: center;
            width: 25px;

            &.cancel {
              color: hsl(355, 87%, 47%);

              &:disabled {
                color: $cloud-button-background-color-disabled;
              }
            }

            > .cc-icon {
              font-size: 24px;
            }

            > .fa {
              position: relative;
              top: 1px;
            }
          }
        }

        > .name {
          overflow: hidden;
          max-width: 260px;
          text-overflow: ellipsis;
          width: 260px;

          > .email {
            color: hsl(60, 1%, 61%);
            display: block;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        > .user-role {
          position: relative;
          text-align: left;

          > label {
            cursor: pointer;
            margin-right: 10px;
            position: relative;

            > input {
              left: -9999px;
              opacity: 0;
              position: absolute;
            }

            > span {
              color: hsl(30, 3%, 87%);
            }

            > input:checked + span,
            > span:hover {
              color: hsl(60, 4%, 11%);
            }
          }

          > button {
            font-size: 12px;
            margin-left: 10px;
          }
        }
      }
    }
  }

  .invite-user {
    font-size: 16px;

    > fieldset {
      border: none;
      padding: 0;
      margin: 0;
      margin-top: 5px;
    }

    > .roles {
      font-size: 20px;
      margin-bottom: 15px;
      width: 320px;

      label {
        @include display(flex);
        margin-bottom: 25px;
      }

      .hint {
        color: hsl(60, 1%, 61%);
        font-size: 14px;
      }
    }

    > footer {
      @include display(flex);
      @include justify-content(space-between);

      > .email {
        width: 320px;

        .input {
          height: 34px;
        }

        > ul {
          @include position(absolute, 34px 0 0 0px);
        }
      }
    }
  }
}