main > article.company > div.wrapper {
  font-size: 15pt;

  > header {
    position: relative;
    text-align: center;
    margin: $base-unit 0 $base-unit;

    > select {
      margin-left: $base-unit;
    }

  }

  > div.content {
    margin: 0 auto;
    padding: $base-unit * 2 0;
    background-color: hsl(0, 0%, 98%);

    > div.burn-rate {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 $base-unit * 6;

      > table {
        table-layout: fixed;
        width: 100%;
        border-collapse: separate;
        border-spacing: $base-unit / 3;
        margin-left: -$base-unit / 3;

        td.data, td.total {
          height: $base-unit * 2;
          width: $base-unit * 6;
          text-align: right;
          vertical-align: middle;
          padding-right: $base-unit / 2;
          background-color: white;
        }

        > thead {
          text-transform: uppercase;

          > tr > th {
            font-weight: 300;
            vertical-align: middle;

            &.current-month {
              color: hsl(139, 72%, 35%);
            }

            &:first-child {
              width: 30%;
            }
          }

          a.angle-left {
            float: left;
          }

          a.angle-right {
            float: right;
          }

          a.angle-left, a.angle-right {
            bottom: 2pt;
            color: hsl(60, 0%, 55%);
            font-size: 18pt;
            position: relative;
          }

        }

        > tbody {
          > tr {

            > td.title {

              > div.name, div.occupation {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              > div.name {
                font-weight: 400;
              }

              > div.occupation {
                font-size: 10pt;
                color: hsl(0, 0%, 70%);
              }

            }

          }

        }

        > tfoot {
          font-weight: bold;
        }
      }
    }

  }

}

