$access-rights-list-item-height: 40px;
$access-rights-list-item-padding: 15px;

.company-access-rights-container {
  padding: 30px;
}

.access-rights {
  font-size: 15px;
  width: 650px;
  margin: 0 auto;

  .modal-container > & {
    padding: 45px;
  }

  header {
    font-size: 30px;
    margin-bottom: 25px;
    position: relative;

    a {
      @include position(absolute, 0px 0 0 -14px);

      margin-right: 5px;      
    }
  }

  .current-users-list {
    border-collapse: separate;
    border-spacing: 5px;
    font-size: 16px;
    width: 100%;

    tr {
      height: $access-rights-list-item-height;

      > .name {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;

        > .email {
          font-size: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &.token > .name {
        color: hsl(0, 0%, 70%);
      }

      > .user-role {
        background-color: hsl(0, 0%, 98%);
        padding: 0 $access-rights-list-item-padding;
        position: relative;
        text-align: right;
        width: 30%;
    
        > select {
          border: none;
          cursor: pointer;
          outline: none;
          height: 100%;
          padding-right: 25px;

          -webkit-appearance: none;
        }
        
        > i {
          @include position(absolute, 0px $access-rights-list-item-padding 0 0);

          cursor: pointer;
          height: 100%;
          line-height: $access-rights-list-item-height;
          pointer-events: none;
        }
      }

      > .actions {
      
        > button {
          height: 100%;
          margin-right: 5px;
        }
      }
    }
  }

  .invite-user {
    font-size: 16px;

    > fieldset {
      border: none;
      padding: 0;
      margin: 0;
    }

    > .email {
      @include display(flex);

      margin-bottom: 7px;

      .form-field-2 {
        margin: auto;
        width: 250px;
      }
    }

    > .roles {
      font-size: 20px;
      width: 320px;
      margin-bottom: 15px;

      label {
        @include display(flex);
      }

      .hint {
        font-size: 14px;
      }
    }

    > .email,
    > footer {
      text-align: center;
    }
  }
}