.companies,
.companies-search > .result {
  @include align-items(stretch);
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.company-preview {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(space-between);

  border: 2px solid hsl(0, 0%, 96%);
  margin-bottom: 17px;
  width: 49%;
}

.company-preview-header {
  padding: 12px;
  position: relative;

  .favorites-link {
    @include position(absolute, 16px 12px 0 0);

    font-size: 20px;
  }
}

.company-preview-logo {
  img {
    width: 145px;
  }
}

.company-preview-info {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(flex-end);
}

.company-preview-data {
  @include align-content(space-between);
  @include align-items(baseline);
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);

  font-size: 14px;
  padding: 12px;

  > * {
    padding-bottom: 5px;
  }
}

.company-preview-name {
  a {
    color: black;
  }

  font-size: 18px;
}

.company-preview-name,
.company-preview-motto {
  width: 60%;
}

.company-preview-size,
.company-preview-burn-rate {
  font-weight: 600;
  width: 30%;
}

.company-preview-burn-rate {
  @include align-items(center);
  @include display(flex);
}

.company-preview-burn-rate span {
  font-size: 9px;
  font-weight: 300;
  margin-left: 5px;
  text-transform: uppercase;
}

.company-preview-description {
  background-color: hsl(0, 0%, 96%);
  color: hsl(60, 1%, 34%);
  font-size: 14px;
  height: 90px;
  padding: 12px;
}