.company-access-rights {
  padding: 30px;
}

.access-rights {
  font-size: 15px;
  width: 650px;
  margin: 0 auto;

  header {
    font-size: 24px;
    margin-bottom: 25px;
    position: relative;

    a {
      @include position(absolute, 0px 0 0 -14px);

      margin-right: 5px;      
    }
  }

  .current-users-list {
    border-collapse: separate;
    border-spacing: 5px;
    font-size: 16px;
    width: 100%;

    tr, td {
      height: 40px;
    }

    .name {
      width: 30%;
    }

    .email {
      font-size: 12px;
    }

    .user-role {
      background-color: hsl(0, 0%, 98%);
      padding: 0 15px;
      text-align: right;
      width: 30%;
    }

    .token .name {
      color: hsl(0, 0%, 70%);
    }

    .actions > * {
      margin-right: 5px;
    }

    button {
      font-size: 16px;
      height: 100%;
    }
  }

  .invite-user {
    font-size: 16px;

    fieldset {
      border: none;
      padding: 0;
      margin: 0;
    }

    .email {
      @include display(flex);

      margin-bottom: 7px;

      .form-field-2 {
        margin: auto;
        width: 250px;
      }
    }

    .roles {
      font-size: 20px;
      width: 320px;
      margin-bottom: 15px;

      .hint {
        font-size: 14px;
      }
    }

    .email,
    footer {
      text-align: center;
    }
  }
}