main > article.company-invite {
  @include base-wrapper;
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);

  font-size: 15pt;
  line-height: 140%;

  > div.author, div.company-name, div.company-logo {
    margin-bottom: $base-unit * 2;
  }

  > div.author {
    @include display(inline-flex);
    @include align-items(center);

    > [data-react-mount-point='avatar'] {
      > figure {
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);

        margin-right: $base-unit / 2;
        border-radius: 30px;
        height: 60px;
        width: 60px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        font-weight: 300;
        text-transform: uppercase;
      }
      
    }

  }

  > div.company-name {
    font-size: 40px;
    font-weight: 400;

    > a {
      color: black;
      text-decoration: none;
    }
  }

  > div.company-logo {
    > a > img {
      max-width: 145px;
    }
  }

}
