main.company-access-rights .access-rights button {
  font-size: 12px;
  padding: 5px 10px;

  i.fa {
    margin-left: 5px;
  }
}


main.company-access-rights .access-rights form.invite-user {
  
  label {
    margin: 10px 0;
    
    i.hint {
      display: block;
    }
    
    i.error {
      color: hsl(0, 50%, 50%);
      display: block;
    }
  }
  
  fieldset.roles label {
    @include display(flex);

    input {
      margin-right: 5px;
    }
  }

}
