$base-post-preview-margin: 60px;


@mixin post-preview-insight {
  @include display(flex);

  background-color: hsl(0, 100%, 100%);
  padding: 10px;
  position: relative;

  &::before {
    @include position(absolute, null 100% 0px null);

    border: 10px solid transparent;
    border-right-color: hsl(0, 100%, 100%);
    border-bottom-color: hsl(0, 100%, 100%);
    content: '';
    display: block;
  }

  > .round-buttons {
    @include position(absolute, 10px 10px null null);

    > li {
      height: 25px;
      width: 25px;

      > i {
        line-height: 25px;
      }
    }
  }

  > aside {
    margin-right: 10px;
    width: 40px;

    > figure {
      background-color: #eee;
      background-size: cover;
      border-radius: 50%;
      height: 0;
      padding-top: 100%;
      position: relative;
      width: 100%;

      > figcaption {
        @include position(absolute, 50% null null 50%);
        @include transform(translateX(-50%) translateY(-50%));

        color: hsl(0, 100%, 100%);
        font-size: 15px;
      }
    }
  }

  > section {
    @include flex(1);

    margin-top: 5px;

    > p {
      margin: 0;

      &.name {
        color: hsl(135, 50%, 50%);
        font-size: 1.25em;
        font-weight: 600;

        > i.fa-star {
          color: hsl(50, 100%, 60%);
          font-size: .9em;
          margin-left: 5px;
        }
      }

      &.occupation {
        color: hsl(0, 0%, 50%);
        font-size: .8em;
      }

      &.comment {
        margin-top: 2px;
        white-space: pre-wrap;
      }
    }

  }

}


@mixin post-preview-insight-list {
  font-size: 12px;
  list-style: none;
  margin: 0;
  margin-left: 20px;
  overflow: hidden;
  padding: 0;
  padding-left: 20px;
  width: 270px;

  > li {
    @include post-preview-insight;
  }

  > li ~ li {
    margin-top: 20px;
  }
}

ul.insight-list {
  @include post-preview-insight-list;
}

// Main
//
main.company > div.wrapper > div.posts {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);

  position: relative;
  margin: $base-post-preview-margin -20px 0 -20px;

  // Timeline background
  //
  &::before,
  &::after {
    @include position(absolute, 0px 0px 0px 0px);
    content: '';
    z-index: -1;
  }

  &::before {
    background-color: hsl(0, 0%, 98%);
    right: 50%;
  }

  &::after {
    background-color: hsl(0, 0%, 94%);
    left: 50%;
  }


  // Create post top button
  //
  > figure.create {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);

    margin-top: -45px;
    margin-bottom: $base-post-preview-margin / 2;
    width: 90px;
    height: 90px;
    cursor: pointer;
    background-color: hsl(142, 48%, 59%);
    border-radius: 50%;
    color: white;
    position: relative;

    > i.fa,
    > i.cc-icon {
      font-size: 40px;
    }
  }

  // Create post placeholder
  //
  div.placeholder {
    @include display(flex);
    @include justify-content(center);

    width: 100%;

    &:hover {
      > figure {
        visibility: visible;
      }
    }

    > figure {
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      @include transform(scale(.5, .5));
      @include transition(opacity 250ms ease-out, all 150ms ease-out, width 100ms ease-out 150ms);

      visibility: hidden;
      width: 45px;
      height: 45px;
      cursor: pointer;
      background-color: hsl(142, 48%, 59%);
      border-radius: 50%;
      color: white;
      position: relative;

      &:hover {
        @include transform(scale(1, 1));
      }

      > i.fa {
        font-size: 16px;
      }
    }
  }

  // Post preview
  //
  > article.preview.post {
    position: relative;
    background-color: white;
    width: 800px;
    margin: ($base-post-preview-margin / 2) 0;

    &:hover > ul.controls {
      visibility: visible;
    }

    > ul.insight-list {
      @include position(absolute, 0px null 0px 100%);

      &::before {
        @include linear-gradient(to bottom, hsla(0, 0%, 94%, 0), hsla(0, 0%, 94%, 1));
        @include position(absolute, 75% 0px 0px 0px);

        content: '';
        display: block;
        z-index: 1;
      }
    }

    &.epoch {
      background: none;

      > a > header {
        > h1 {
          font-size: 55px;
          font-weight: 500;
        }

        > span.date {
          font-size: 20px;
          color: black;
        }
      }
    }

    > .buttons {
      @include position(absolute, 15px 15px null null);

      ~ a h1 {
        margin: 0 10%;
      }
    }

    &.dimmed {
      opacity: 0.5;
    }

    &.only-me {
      background-color: white;
      border: 3px solid hsl(0, 0%, 80%);
    }

    > .only-me-overlay {
      @include align-items(center);
      @include display(flex);
      @include justify-content(center);
      @include position(absolute, 0px 0 0 0px);

      background-color: rgba(255, 255, 255, 0.85);
      cursor: pointer;
      height: 100%;
      width: 100%;
      z-index: 1;

      > i {
        font-size: 100px;
        color: rgba(0, 0, 0, 0.7);
      }
    }

    > a {
      display: block;
      padding: 20px;
      text-decoration: inherit;
      color: inherit;
      outline: none;

      > header {
        text-align: center;

        > h1 {
          font-weight: 600;
          margin: 0;

          > div {
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }

        > span.date {
          color: grey;
        }
      }

      > div.content {
        > div.paragraph {
          margin-top: 20px;
          font-size: 16px;
          line-height: 22px;
          word-wrap: break-word;
        }

        .quote {
          @include align-items(center);
          @include display(flex);
          @include justify-content(flex-start);

          > div {
            font-size: 28px;
            font-weight: 300;
            font-style: italic;
          }

          > .person {
            margin-right: 30px;
            min-width: 145px;

            > footer {
              font-style: normal;

              > p {
                margin: 0;
                text-align: center;
                white-space: wrap;

                &.name {
                  font-size: 20px;
                }

                &.occupation {
                  font-size: 12px;
                  color: gray;
                }
              }
            }
          }
        }

        > .person {
          width: 150px;
          text-align: center;
          margin: 20px auto 0 auto;

          > footer {

            > p {
              margin: 0;
              text-align: center;
              white-space: wrap;

              &.name {
                font-size: 20px;
              }

              &.occupation {
                font-size: 12px;
                color: gray;
              }
            }
          }
        }

        > img.cover {
          width: 100%;
          margin-top: 20px;
        }
      }

      > footer {
        margin-top: 20px;
        text-align: center;

        > .cc-hashtag-list {
          > ul > li {
            font-size: 16px;

            &.current {
              font-weight: bold;
            }
          }
        }
      }

    }
  }

}

// Editor
//
div.post-container {
  position: relative;

  > aside {
    @include position(absolute, 0px 0px 0 0);

    z-index: 1;

    > .select {
      width: 120px;
    }
  }

  > header {
    @include display(flex);
    @include flex-direction(column);

    position: relative;

    .title div[contenteditable] {
      @include editor-contenteditable-area;

      max-width: 650px;
      font-size: 40px;
      font-weight: 400;
    }

    .title > aside {
      height: 47px;
    }

    label {
      margin: 10px 0 0;
      position: relative;

      input {
        border: none;
        margin: 0;
        outline: none;
        padding: 0;
      }

      &.published-at > * {
        font-size: 24px;
        font-weight: 300;
      }

      &.published-at + aside {
        height: 29px;
      }
    }

    .categories {
      max-width: 800px;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .categories > aside {
      height: 40px;

      .hint {
        width: 450px;
      }
    }
  }

  .tags {
    max-width: 800px;
    margin-top: 15px;
    max-width: 800px;
  }

  .tags > aside {
    height: 40px;

    .hint {
      width: 400px;
    }
  }

  > footer {
    > div.controls {
      @include display(flex);
      @include justify-content(space-between);

      margin-top: 50px;

      > button {
        width: 80px;
      }
    }

  }
}

// Story header
//
main.company.timeline > div.wrapper > header {

  > h1 {
    font-size: 55px;
    font-weight: 200;
    margin: 0;
  }

}
