$base-post-preview-margin: 60px;

// Main
// 
main.company > div.wrapper > div.posts {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);

  position: relative;
  margin-top: $base-post-preview-margin;

  // Timeline background
  // 
  > div.left-column {
    background-color: hsl(0, 0%, 98%);
  }

  > div.right-column {
    background-color: hsl(0, 0%, 94%);
    right: 0;
  }

  > div.left-column, div.right-column {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    pointer-events: none;
    z-index: -1;
  }

  // Create post top button
  // 
  > figure.create {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);

    margin-top: -45px;
    margin-bottom: $base-post-preview-margin / 2;
    width: 90px;
    height: 90px;
    cursor: pointer;
    background-color: hsl(142, 48%, 59%);
    border-radius: 50%;
    color: white;
    position: relative;

    > i.fa {
      font-size: 40px;
    }
  }

  // Create post placeholder
  // 
  div.placeholder {
    @include display(flex);
    @include justify-content(center);

    width: 100%;

    &:hover {
      > figure {
        visibility: visible;
      }
    }

    > figure {
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      @include transform(scale(.5, .5));
      @include transition(opacity 250ms ease-out, all 150ms ease-out, width 100ms ease-out 150ms);

      visibility: hidden;
      width: 45px;
      height: 45px;
      cursor: pointer;
      background-color: hsl(142, 48%, 59%);
      border-radius: 50%;
      color: white;
      position: relative;

      &:hover {
        @include transform(scale(1, 1));
      }
      
      > i.fa {
        font-size: 16px;
      }
    }
  }

  // Post preview
  // 
  > article.preview.post {
    position: relative;
    background-color: white;
    width: 600px;
    margin: ($base-post-preview-margin / 2) 0;

    &:hover > div.controls {
      visibility: visible;
    }

    > div.controls {
      @include position(absolute, 10px 10px 0 0);
      
      visibility: hidden;
      height: 30px;

      > i.fa {
        font-size: 20px;
        cursor: pointer;

        &.fa-times {
          color: hsl(0, 75%, 55%);
        }
      }
    }

    > a {
      display: block;
      padding: 20px;
      text-decoration: inherit;
      color: inherit;

      > header {
        margin-bottom: 20px;
        text-align: center;

        > h1 { 
          font-weight: 600;
          margin: 0;
        }

        > span.date {
          color: grey;
        }
      }

      > div.paragraph {
        font-size: 16px;
        line-height: 22px;
        word-wrap: break-word;
        max-height: 200px;
      }

      > ul.pictures {
        @include flex-ul;
        margin-top: 20px;

        > li {
          width: 100px;
          height: 100px;
          overflow: hidden;
          margin-right: 20px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }

      > div.cover {
        height: 200px;
        margin-top: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

    }
  }

  // Person preview
  // 
  > article.preview.person {
    margin: ($base-post-preview-margin / 2) 0;
    width: 200px;
    position: relative;

    &.first {
      width: 285px;
    }

    > aside.avatar {
      cursor: pointer;
    }

    > aside.event {
      position: absolute;
      top: 36%;
      left: 108%;
      width: 100%;
      font-size: 16px;
    }

    > footer {
      padding: 10px 20px 0 20px;

      > p {
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.name { 
          font-size: 20px;
        }

        &.occupation {
          font-size: 12px;
          font-weight: 300;
          text-transform: uppercase;
        }
      }
    }
  }

}


// Editor
// 
article.editor.post {

  > header {
    @include display(flex);
    @include flex-direction(column);

    position: relative;
    
    > label {
      margin: 10px 0 0;
      position: relative;
      
      input {
        border: none;
        margin: 0;
        outline: none;
        padding: 0;
      }

      &.title input {
        font-size: 40px;
        font-weight: 400;
      }
      
      &.published-at input {
        font-size: 24px;
        font-weight: 300;
      }

    }    

  }

  > div.controls {
    @include display(flex);
    @include justify-content(space-between);

    margin-top: 50px;

    > button {
      width: 80px;
    }
  }
}
