$company-preview-padding: 20px;
$company-preview-header-height: 170px;
$company-preview-middle-height: 76px;
$company-preview-bottom-height: 120px;
$company-preview-height: $company-preview-header-height + $company-preview-middle-height + $company-preview-bottom-height;

.companies-list {
  margin: 0 auto;
  margin-bottom: 30px;  
  width: 800px;

  > header > h1 {
    margin-top: 0;
    font-weight: normal;
    font-size: 25pt;

    > span.green {
      color: $north-texas-green;
    }
  }

  > div {
    @include align-items(stretch);
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
  }
}

.company-add,
.company-preview {
  border: 2px solid hsl(0, 0%, 96%);
  height: $company-preview-height;
  margin-bottom: 17px;
  position: relative;
  width: 48%;
}

.company-add {

  > a {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);

    height: 100%;
    text-decoration: none;
    color: hsl(60, 1%, 34%);

    > i.fa {
      font-size: 50px;
    }

    > span.hint {
      font-size: 13px;
      text-transform: uppercase;
    }
  }
}

.company-preview {

  > a {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);

    color: inherit;
    text-decoration: none;
    outline: none;
  }

  header {
    @include display(flex);

    padding: $company-preview-padding;
    height: $company-preview-header-height;

    > figure {
      margin: auto 0;
      width: 145px;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-y: center;

      &.image-absent {
        border-radius: 100%;
        font-size: 30px;
        font-weight: 100;
        height: 100px;
        line-height: 100px;
        text-align: center;
        width: 100px;
      }
    }
  }

  .middle {
    @include align-items(stretch);
    @include display(flex);

    font-size: 15px;
    height: $company-preview-middle-height;
    padding: $company-preview-padding;
    padding-top: 0;

    > .left,
    > .right {
      @include display(flex);
      @include flex-direction(column);

      > * {
        height: 28px;
        line-height: 28px;
      }
    }

    > .left {
      @include flex(1);

      > .name {
        font-size: 20px;
        font-weight: 600;
      }

      > .name,
      > .description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    > .right {
      width: auto;

      > .size {
        @include display(inline-flex);

        > div {

          &.vacancies {
            color: $alizarin-crimson;
          }

          &:first-child {
            margin-right: 30px;
          }

          > i {
            margin-left: 3px;
          }
        }
      }

      > .size,
      > .burn-rate {
        font-weight: 600;
        white-space: nowrap;
        width: auto;
      }

      > .burn-rate {
        @include display(flex);
        @include align-items(center);

        > .units {
          font-size: 9px;
          font-weight: 300;
          margin-left: 5px;
          text-transform: uppercase;
        }
      }
    }
  }

  footer {
    @include display(flex);

    background-color: hsl(0, 0%, 96%);
    color: hsl(60, 1%, 34%);
    font-size: 15px;
    height: $company-preview-bottom-height;
    padding: $company-preview-padding;

    > .buttons {
      @include display(flex);
      @include justify-content(space-around);

      margin: auto;
      width: 100%;
    }
  }
}
