main.companies {
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

div.companies {
  @include justify-content(center);
  @include display(flex);

  padding: $gutter-size/2;
}

.cloud-profile-companies {
  @include align-items(center);
  @include flex-direction(column);

  font-size: $basic-font-size;
  position: relative;

  > header {
    @include align-items(center);
    @include display(flex);
    @include justify-content(flex-end);

    width: 100%;
  }

  .search {
    padding: $default-margin-size;

    padding-left: $gutter-size/2;
  }

  .search > label {
    height: 45px;
    margin-bottom: 0;
    font-size: $big-font-size;
    width: 300px;
  }

  .subscription {
    @include align-items(center);
    @include display(flex);
    @include flex-direction(column);

    background-color: hsl(145, 92%, 75%);
    border: 1px solid hsl(144, 100%, 81%);
    margin: $gutter-size;
    font-size: $big-font-size;
    font-weight: 400;
    line-height: 29px;
    width: calc(100% - 2 * #{$gutter-size} );
    padding: 40px;

    p {
      max-width: 600px;
      text-align: center;
    }

    > form {
      @include display(flex);

      > input {
        margin-right: $inner-margin-size;
      }

      button.cc {
        background-color: hsl(60, 4%, 11%);
        color: hsl(145, 92%, 75%);
        height: 40px;

        > div {
          padding: 10px;
        }
      }
    }
  }
}

.cloud-profile-companies,
article.companies,
.company-preview {
  @include display(flex);
  @include justify-content(center);
}

.companies-list {
  padding-top: 0;

  > div {
    @include align-items(stretch);
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
  }

  .company-preview {
    background-color: $card-color;
    height: 405px;
    position: relative;
  }
}

.company-add {
  margin-right: $gutter-size/2;

  i {
    margin-right: $inner-margin-size;
  }
}

.company-preview {
  position: relative;

  &.placeholder {
    background-image: image_url('placeholders/company.png');
    background-size: cover;
  }

  > .overlay {
    @include align-items(center);
    @include display(flex);
    @include justify-content(center);
    @include position(absolute, 0px 0px 0px 0px);

    background-color: hsla(0, 0%, 0%, 0.5);
    visibility: hidden;
  }

  &:hover > .overlay {
    visibility: visible;
  }

  > a {
    @include display(flex);
    @include flex-direction(column);

    color: inherit;
    margin-top: 0;
    outline: none;
    text-decoration: none;
    width: 100%;

    > .info {
      @include position(absolute, $default-margin-size $default-margin-size 0 0);

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .stats {
        @include display(flex);
        @include justify-content(flex-end);

        color: $auxilary-grey-color;
        font-size: $small-font-size;
        font-weight: 600;
        margin-bottom: $inner-margin-size;
        text-transform: uppercase;

        li {
          margin-left: $inner-margin-size;
        }
      }

      .labels {
        @include display(flex);
        @include justify-content(flex-end);

        li {
          display: block;

          background-color: $label-color;
          color: $label-text-color;
          font-size: 15px;
          height: 34px;
          line-height: 34px;
          margin-left: $inner-margin-size;
          padding: 0 10px;
        }
      }
    }

    > header {
      @include align-items(flex-start);
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(space-between);

      width: 100%;

      > figure {
        background-size: contain;
        background-repeat: no-repeat;
        height: 80px;
        width: 80px;
        margin-bottom: $default-margin-size;     
      }

      > h1 {
        font-size: $big-font-size;
        height: $big-font-size + 5;
        margin: 0;
        margin-bottom: $default-margin-size - 10;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }

    > .description {
      @include flex(1);

      font-size: $basic-font-size;
      font-weight: 300;
      height: 85px;
      line-height: 1.4;
    }

    > footer {
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(space-between);

      border-top: $card-hr;
      height: 140px;
      padding-top: $default-margin-size;

      .tags {
        @include display(flex);
        @include flex-wrap(wrap);
        @include justify-content(center);

        color: $link-color;
        font-size: $small-font-size;
        margin-left: $inner-margin-size;

        > * {
          margin-right: $inner-margin-size;
        }
      }

      .people {
        @include display(flex);
        @include flex-wrap(wrap);
        @include justify-content(center);

        margin-bottom: $default-margin-size;

        .human {
          @extend .cloud-card-human.block;

          margin: $card-basic-space / 2;
          margin-bottom: 0;
          width: 65px;

          .credentials {
            color: $special-input-color;
            font-size: $little-font-size;
            font-weight: 300;
          }
        }
      }

      .buttons {
        @include align-items(center);
        @include display(flex);
        @include justify-content(space-between);

        margin: auto;
        margin-bottom: $default-margin-size;
        width: 230px;
      }
    }
  }
}
