$company-preview-padding: 20px;
$company-preview-header-height: 170px;
$company-preview-middle-height: 76px;
$company-preview-bottom-height: 120px;
$company-preview-height: $company-preview-header-height + $company-preview-middle-height + $company-preview-bottom-height;

main.companies {
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

.cloud-profile-companies {
  @include flex-direction(column);

  font-size: $basic-font-size;
  margin: 0 auto;
  padding-top: $gutter-size;
  width: 1000px + 3 * $gutter-size;

  .search {
    margin-bottom: $gutter-size;
  }

  .search > label {
    height: 45px;
    font-size: $big-font-size;
    width: 400px;
  }
}

.cloud-profile-companies,
article.companies,
.company-preview {
  @include display(flex);
  @include justify-content(center);  
}

.companies-list {
  padding: 0;

  > header {
    font-weight: 600;
  }

  > div {
    @include align-items(stretch);
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
  }

  .company-add,
  .company-preview {
    background-color: white;
    height: $company-preview-height;
    position: relative;
  }
}

.company-add {
  > a {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);

    height: 100%;
    text-decoration: none;
    color: hsl(60, 1%, 34%);

    > i.fa {
      font-size: 50px;
    }

    > span.hint {
      font-size: 13px;
      text-transform: uppercase;
    }
  }
}

.company-preview {
  
  > a:nth-child(1) {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);

    color: inherit;
    margin-top: 0;
    outline: none;
    text-decoration: none;
    width: 100%;
  }

  header {
    > figure {
      margin: auto 0;
      width: 145px;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-y: center;

      &.image-absent {
        border-radius: 100%;
        font-size: 30px;
        font-weight: 100;
        height: 100px;
        line-height: 100px;
        text-align: center;
        width: 100px;
      }
    }

    > h1 {
      font-size: $large-font-size;
    }
  }

  .description {
    font-size: $big-font-size;
  }

  footer {
    border-top: $card-hr;
    padding-top: $default-margin-size;

    .tags {
      @include display(flex);
      @include flex-wrap(wrap);
      @include justify-content(center);
      
      color: $link-color;

      > * {
        margin-right: $inner-margin-size;
      }
    }

    .people {
      @include display(flex);
      @include flex-wrap(wrap);
      @include justify-content(center);

      margin-top: $card-basic-space / 2;

      .human {
        @extend .cloud-card-human.block;

        margin: $card-basic-space / 2;
        margin-bottom: 0;
        width: 60px;

        .credentials {
          font-size: $small-font-size;
        }
      }
    }
  }
}
