main.companies {
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

div.companies {
  @include justify-content(center);
  @include display(flex);
}

.cloud-profile-companies {
  @include flex-direction(column);

  font-size: $basic-font-size;
  position: relative;

  .search {
    padding: $default-margin-size;

    padding-left: $gutter-size;
  }

  .search > label {
    height: 45px;
    font-size: $big-font-size;
    width: 300px;
  }
}

.cloud-profile-companies,
article.companies,
.company-preview {
  @include display(flex);
  @include justify-content(center);  
}

.companies-list {
  padding-top: 0;

  > header {
    font-weight: 600;
  }

  > div {
    @include align-items(stretch);
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
  }

  .company-preview {
    background-color: $card-color;
    min-height: 400px;
    position: relative;
  }
}

.company-add {
  @include position(absolute, $gutter-size $gutter-size 0 0);

  i {
    margin-right: $inner-margin-size;
  }
}

.company-preview {

  > a:nth-child(1) {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);

    color: inherit;
    margin-top: 0;
    outline: none;
    text-decoration: none;
    width: 100%;
  }

  .info {
    @include position(absolute, $default-margin-size $default-margin-size 0 0);
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .stats {
      @include display(flex);
      @include justify-content(flex-end);

      color: $disabled-color;
      font-size: $big-font-size;
      font-weight: bold;
      margin-bottom: $inner-margin-size;

      li {
        margin-left: $inner-margin-size;
      }

      .round-button {
        margin-left: 5px;

        > i {
          font-size: $big-font-size;
        }
      }
    }

    .labels {
      @include display(flex);
      @include justify-content(flex-end);

      li {
        display: block;

        background-color: $label-color;
        color: $label-text-color;
        margin-left: $inner-margin-size;
        padding: 5px; 
      }
    }
  }

  header {
    @include align-items(flex-start);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);

    > img {
      display: block;
      margin-bottom: $default-margin-size;
      max-height: 100px;
      max-width: 140px;
      height: auto;
      width: auto;
    }

    > h1 {
      font-size: $large-font-size;
      margin: 0;
      margin-bottom: $default-margin-size;
    }
  }

  .description {
    font-size: $big-font-size;
    margin-bottom: $default-margin-size;
  }

  footer {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);
    
    border-top: $card-hr;
    min-height: 75px;
    padding-top: $default-margin-size;

    .tags {
      @include display(flex);
      @include flex-wrap(wrap);
      @include justify-content(center);
      
      color: $link-color;

      > * {
        margin-right: $inner-margin-size;
      }
    }

    .people {
      @include display(flex);
      @include flex-wrap(wrap);
      @include justify-content(center);

      margin-bottom: $default-margin-size;

      .human {
        @extend .cloud-card-human.block;

        margin: $card-basic-space / 2;
        margin-bottom: 0;
        width: 80px;

        .credentials {
          font-size: $small-font-size;
        }
      }
    }

    .buttons {
      @inlude align-items(center);
      @include display(flex);
      @include justify-content(space-between);

      margin: auto;
      margin-bottom: $default-margin-size;
      width: 230px; 
    }
  }
}
