<% class_for_root_tag main: 'company-access-rights' %>

<% content_for :header_breadcrumbs do %>
  <%= render 'shared/companies/header_breadcrumbs' %>
<% end %>

<% content_for :header_menu do %>
  <%= render 'shared/companies/header_menu' %>
<% end %>

<% pagescript_params company: CompanySerializer.new(@company, scope: current_user), invitable_roles: Company::INVITABLE_ROLES, emails: @emails %>

<section class="company-access-rights-container" data-react-mount-point="access-rights">
</section>
