<% content_for :search do %>
  <%= true %>
<% end %>

<article class="companies-search">

  <div class="counter">
    <%= render 'counter', collection: @companies %>
  </div>

  <div class="result">
    <%= render partial: 'shared/companies/company', collection: @companies %>
  </div>
  
</article>
