<div class="companies" data-react-class="components/companies_app">
</div>

<% content_for :header_menu do %>
  <%= render 'shared/header_menu' %>
<% end %>

<%= content_for :class_for_main, 'companies' %>
