<%- class_for_root_tag main: 'cloud-profile' -%>

<article class="form company">
  
  <section class="new">
    
    <h1>
      <%= link_to font_awesome('angle-left'), cloud_profile.companies_path %>
      <%= t '.title', default: 'New company' %>
    </h1>
    
    <%= render partial: 'form' %>
    
  </section>
  
</article>
