$card-basic-space: 20px;
$card-hr: 1px solid whitesmoke;


// Header
//
@mixin cloud-card-header {
  font-size: 20px;
  font-weight: 600;
}


// Paragraph
//
@mixin cloud-card-paragraph {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4em;
  margin-bottom: 0;
}


// Quote
//
@mixin cloud-card-quote {
  font-size: 20px;
  font-weight: 100;
  line-height: 1.4em;
  margin-bottom: 0;
}


// Human
//
@mixin cloud-card-human {
  @include align-items(center);
  @include display(flex);

  .avatar {
    margin-right: 10px;
  }

  .credentials {
    @include flex(1);

    font-size: 16px;
    font-weight: 300;
    line-height: 1em;
  }

  p {
    margin: 0;

    &.name {
      .last-part {
        display: inline-block;
      }

      .svg-icon {
        background-size: 16px 16px;
        height: 16px;
        margin-left: 3px;
        width: 16px;
      }
    }

    &.occupation {
      color: hsl(0, 0%, 53%);
      font-size: 12px;
      margin-top: 3px;
    }
  }

  &.block {
    @include flex-direction(column);

    figure {
      margin-right: 0;
      margin-bottom: 10px;
    }

    .credentials {
      text-align: center;
    }
  }
}


.cloud-card-header {
  @include cloud-card-header;
}

.cloud-card-human {
  @include cloud-card-human;
}


// Cloud Card
//
.cloud-card {
  background-color: $accented-white-color;
  border: 1px solid $border-color;
  padding: $card-basic-space;

  > header,
  > footer,
  > section,
  > a > header,
  > a > footer,
  > a > section {
    margin-top: $card-basic-space;
  }

  > :first-child:not(.content),
  > a > :first-child {
    margin-top: 0;
  }

  > a > header,
  > header {
    @extend .cloud-card-header;
  }

  .link {
    cursor: pointer;
  }

  .paragraph {
    @include cloud-card-paragraph;
  }

  .quote {
    @include cloud-card-quote;
  }

  .human {
    @extend .cloud-card-human;
    width: 50%;
  }
}
