.cloud-columns {
  $block-width: 500px;

  @include align-items(flex-start);
  @include display(flex);
  @include flex-wrap(wrap);

  @include iphone {
    @include justify-content(center);
  }

  &.cloud-columns-flex {
    @for $i from 1 through 5 {
      $width: $block-width * $i + $gutter-size;

      @media (min-width: $width) {
        width: $width;
      }
    }
  }

  margin: 0;
  padding: $gutter-size / 2;

  > header {
    font-size: 36px;
    font-weight: 100;
    line-height: 32px;
    padding: $gutter-size / 2;
    padding-bottom: $gutter-size / 2;
    position: relative;
    width: 100%;
  }

  > .cloud-column {
    margin: 0;
    padding: $gutter-size / 2;
    position: relative;
    width: $block-width;
  }

}
