body > footer {
  background: $footer-background-color;
  color: $footer-link-color;
  font-size: $footer-font-size;
  font-weight: $footer-font-weight;
  height: $footer-height;
  line-height: $footer-height;
  
  &.inverse {
    background-color: hsl(0, 0%, 78%);
    color: hsl(0, 0%, 100%);
    font-weight: 300;
  }

  ul {
    @include display(flex);
    @include justify-content(center);

    margin: 0;
    padding: 0;
    list-style: none;

    li:not(:first-child) {
      margin-left: $inner-margin-size;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

  }

}
