$header-background-color: hsl(0, 0%, 93%);
$header-font-size: 16px;
$header-font-weight: 400;
$header-height: 50px;
$header-padding: 10px;


$header-logo-background-image: image-url('orgpad-logo.svg');
$header-logo-height: 32px;
$header-logo-margins: -3px 0 0;
$header-logo-width: 35px;


$header-title-font-size: 22px;
$header-title-font-weight: 700;
$header-title-font-weight-small: 300;


$header-search-background-color: hsl(0, 0%, 100%);
$header-search-placeholder-color: hsl(0, 0%, 73%);
$header-search-font-weight: 300;
$header-search-width: 275px;


$header-input-font-size: $header-title-font-size;
$header-input-font-weight: 300;


$header-button-font-size: 12pt;
$header-button-height: $header-height - $header-padding * 2;


// Header logo
//
@mixin header-logo {
  //background-color: #000;
  background-image: $header-logo-background-image;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: $header-logo-height;
  margin: $header-logo-margins;
  margin-right: $header-padding;
  width: $header-logo-width;
}


// Header title
//
@mixin header-title {
  font-size: $header-title-font-size;
  font-weight: $header-title-font-weight;
  
  small {
    font-size: inherit;
    font-weight: $header-title-font-weight-small;
  }
  
}


// Header search
//
@mixin header-search {
  @include display(flex);
  @include align-items(center);
  
  background-color: $header-search-background-color;
  font-weight: $header-search-font-weight;
  height: $header-button-height;
  margin: 0 $header-padding * 2;
  padding: 0 $header-padding;
  width: $header-search-width;
  
  > input {
    @include flex(1);
    
    @include placeholder {
      color: $header-search-placeholder-color;
      font-style: normal;
    }
    
    font-size: inherit;
  }
  
  > i.fa {
    color: $header-search-placeholder-color;
  }
}


// Header input
//
@mixin header-input {
  background-color: inherit;
  font-size: $header-input-font-size;
  font-weight: $header-input-font-weight;
  border: none;
  outline: none;
}


// Welcome links
//
@mixin welcome-links {
  @include display(flex);

  list-style: none;
  margin: 0;
  padding: 0;
  
  > li {
    margin: 0 $header-padding;
  }
}


// Main header style
//

body > header {
  @include display(flex);
  @include align-items(center);
  @include justify-content(space-between);
  
  background-color: $header-background-color;
  font-size: $header-font-size;
  font-weight: $header-font-weight;
  height: $header-height;
  padding: $header-padding;
  
  
  a {
    text-decoration: none;
  }
  
  input {
    @include header-input;
  }
  
  .logo {
    @include header-logo;
  }
  
  .title {
    @include header-title;
  }
  
  .search {
    @include header-search;
  }
  
  .welcome-links {
    @include welcome-links;
  }
  
  .spacer {
    @include flex(1);
  }
  
  button.orgpad,
  .orgpad-button {
    height: $header-button-height;
    font-size: $header-button-font-size;
    
    &.square {
      width: $header-button-height;
    }
  }
  
  .auth {
    margin-left: $header-padding;
  }
  
}
