<section class="error">
  <header>
    <h1>Something went wrong</h1>
    <h2>Your database returned 0 or did not return at all.</h2>
  </header>
  <%= image_tag "error.png" %> 
  <%= link_to "Sure thing", root_path, class: "cc" %> 
</section>