<section class="error">
  <header>
    <h1>Something went wrong</h1>
    <h2>We've been notified about the issue.</h2>
  </header>
  <%= image_tag 'error.png' %>
  <%= link_to 'Okay', main_app.root_path, class: 'cc' %>
</section>
