<section class="error">
  <header>
    <h1>The change you wanted was rejected</h1>
    <h2>Maybe you tried to change something you didn't have access to.</h2>
  </header>
  <%= image_tag 'error.png' %>
  <%= link_to 'Okay', main_app.root_path, class: 'cc' %>
</section>
