.content-block {
  width: $content-block-width;
  margin: 0 auto;

  &_margin {
    margin: {
      bottom: 90px;
      top: 90px;
    }

    @media #{$media-phone} {
      margin: {
        bottom: 10px;
        top: 10px;
      }
    }
  }

  &_padding {
    padding: 0 30px;
    box-sizing: border-box;
    @media #{$media-phone} {
      padding: 10px 30px;
    }
  }

  &_overflow {
    flex: 1;
    -webkit-flex: 1;
    margin: {
      bottom: 0;
      top: 0;
    }
    overflow: hidden;
  }

  &__head {
    text-align: center;

    &_big {
      margin: {
        top: 14px - $h1-font-size / 3;
        bottom: 35px;
      }

      @media #{$media-phone} {
        margin-bottom: 5px;
      }
    }

    &_margin {
      &::after {
        content: " ";
        display: block;
        height: 35px;

        @media #{$media-phone} {
          height: 10px;
        }
      }
    }

    &_small {
      margin: - $h2-font-size / 3 auto;
      max-width: 700px;

      @media #{$media-phone} {
        width: 100%;
        margin: 0 auto 10px 0;
      }
    }
  }

  @media #{$media-phone} {
    width: 100%;
    box-sizing: border-box;
  }
}
