
.content-block {
  width: $content-block-width;
  margin: 0 auto;

  &_margin {
    margin: {
      bottom: 90px;
      top: 90px;
    }
  }

  &_overflow {
    flex: 1;
    -webkit-flex: 1;
    margin: {
      bottom: 0;
      top: 0;
    }
    overflow: hidden;
  }

  &__head {
    text-align: center;

    &_big {
      height: $h1-line-height;
      margin: {
        top: 14px - $h1-font-size / 3;
        bottom: 35px;
      }
      overflow: hidden;

      > span, a {
        display: block;
        -webkit-font-smoothing: subpixel-antialiased;
      }

      > span ~ span {
        opacity: 0;
      }
    }

    &_margin {
      &::after {
        content: " ";
        display: block;
        height: 35px;

        @media #{$media-phone} {
          height: 10px;
        }
      }
    }

    &_small {
      margin: - $h2-font-size / 3 auto;
      max-width: 700px;

      @media #{$media-phone} {
        width: 100%;
      }
    }
  }

  @media #{$media-phone} {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
  }

}
