@import "vars";

.user-slab {
  img {
    border-radius: 50%;
    height: 80px;
    margin: 0 auto 20px;
    width: 80px;

    @media #{$media-phone} {
      width: 60%;
      height: auto;
    }
  }

  figcaption {
    line-height: 20px;
    margin-top: - $base-font-size / 3;
    text-align: center;
  }
}
