<div class="breadcrumbs">
  <%= link_to current_user ? cloud_profile.companies_path : main_app.root_path, class: 'back-link' do -%>
    <i class="fa fa-chevron-left"></i>
  <%- end -%>

  <div class="company-name" data-react-class="components/company/name" data-react-props="<%= { key: @company.uuid, value: @company.name }.to_json %>">
    <span>
      <%= @company.name %>
    </span>
  </div>
</div>
