<div class="router" data-company-router-mount-point>
  <ul>

<!--
    <% if current_user.try(:admin?) && can?(:finance, @company) %>
      <li>
        <%= link_with_class_for_current('Finance', main_app.finance_company_path(@company), 'base') %>
      </li>
    <% end %> -->

    <% if can?(:access_rights, @company) %>
      <li>
        <%= link_with_class_for_current('Users', main_app.company_path(@company, anchor: "users"), 'base') %>
      </li>
    <% end %>

    <% if can?(:settings, @company) %>
      <li>
        <%= link_with_class_for_current('Settings', main_app.company_path(@company, anchor: "settings"), 'base') %>
      </li>
    <% end %>

  </ul>
</div>
