<div class="router" data-company-router-mount-point>
  <ul>

<!--     <% if current_user.try(:admin?) %>
      <li>
        <%= link_with_class_for_current('Chart', cloud_blueprint.company_chart_path(@company, @company.chart.slug), 'base') %>
      </li>
    <% end %>

    <% if current_user.try(:admin?) && can?(:finance, @company) %>
      <li>
        <%= link_with_class_for_current('Finance', main_app.finance_company_path(@company), 'base') %>
      </li>
    <% end %> -->

    <% if can?(:access_rights, @company) %>
      <li>
        <%= link_with_class_for_current('Users', main_app.access_rights_company_path(@company), 'base') %>
      </li>
    <% end %>

    <% if can?(:settings, @company) %>
      <li>
        <%= link_with_class_for_current('Settings', main_app.settings_company_path(@company), 'base') %>
      </li>
    <% end %>

  </ul>
</div>
