<%- company ||= nil %>

<div class="breadcrumbs">
  <%= link_to company.present? ? company_path(company) : main_app.companies_path, class: 'back-link' do -%>
    <i class="fa fa-chevron-left"></i>
  <%- end -%>

  <div class="company-name" data-react-class="components/company/name" data-react-props="<%= { key: @company.uuid, value: decorate(@company).name }.to_json %>">
    <span>
      <%= decorate(@company).name %>
    </span>
  </div>
</div>
