.pin.cloud-card > header.company {
  @include align-items(center);
  @include display(flex);

  margin-bottom: $card-basic-space;
  position: relative;

  > .logo-and-name {
    @include align-items(center);
    @include display(flex);
    @include flex(1);

    > figure {
      background-position: right center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 80px;
      margin-right: 10px;
      width: 80px;
    }

    &.has-name-in-logo > figure {
      background-position: left center;
      width: 100%;
    }
  }
}


@import 'pinnable/post_blocks';
