.pinnable.post-preview > a > header {

  > figure {
    @include align-items(center);
    @include display(flex);

    font-size: $big-font-size;
    font-weight: 400;
    width: calc(100% - 40px);

    > img {
      height: 25px;
      margin-right: $inner-margin-size;
    }

    > span {
      @include flex(1);

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  > section.title {
    padding-top: $inner-margin-size;

    .title {
      @extend .cloud-card-header;
    }

    > .date {
      @include align-items(center);
      @include display(flex);
      @include justify-content(center);

      color: $special-link-color;
      margin-bottom: $inner-margin-size;
      font-size: $small-font-size;
      font-weight: 300;
    }
  }
}


@import 'pinnable/post_blocks';
