.post-pins {
  @include position(fixed, 0px 0px 0px null);
  
  margin: 10px 0;
  overflow: scroll;
  padding: 0 10px;
  padding-left: 0;
  padding-right: 30px;
  pointer-events: none;
  width: 270px;
  
  > ul.insite-list {
    pointer-events: auto;
    width: 100%;
  }
  
}
