.pin.cloud-card > header.company {
  @include align-items(center);
  @include display(flex);

  padding: $card-basic-space 0;

  &:nth-child(1) {
    padding-top: 0;
    margin-top: 0;
  }

  > .logo-and-name {
    @include align-items(center);
    @include display(flex);
    @include flex(1);

    > figure {
      background-position: right center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 40px;
      margin-right: 10px;
      width: 40px;
    }

    &.has-name-in-logo > figure {
      background-position: left center;
      width: 100%;
    }
  }
}


@import 'pinnable/people_block';
