header.site-header {
  align-items: center;
  -webkit-align-items: center;

  display: flex;
  display: -webkit-flex;

  height: $site-header-height;

  justify-content: space-between;
  -webkit-justify-content: space-between;

  margin: 0 auto;
  width: $content-block-width;

  > a.logo {
    background-image: image-url('max-logo.png');
    background-size: contain;
    display: block;
    height: 25px;
    width: 100px;
  }
}
