<p>
  Hello<%= @user.name.present? ? " #{@user.name}" : '' %>,
</p>

<p>
  Please confirm your CloudChart account. Just click the following link:
  <%= link_to activate_user_url(id: @token_id), activate_user_url(id: @token_id) %>
</p>
