.insight-app.standalone {
  width: 645px;
  padding: 0;

  @include iphone {
    width: 100%;
    padding: 0 20px;
  }

  > .insight-card > .content {
    font-size: 24px;
    line-height: 29px;
    > .content {
      pointer-events: none;
    }
  }

  > nav.tab-nav {
    margin-top: 20px;

    > ul {
      @include justify-content(flex-start);

      > li {
        background-color: hsl(60, 10%, 98%);
        max-width: 100% / 3;

        &.active {
          background-color: hsl(60, 10%, 96%);
        }
      }
    }
  }

  > .connections {
    background-color: hsl(60, 10%, 96%);
    padding: 20px;


    > ul {
      list-style: none;
      margin: 0;
      padding: 0;


      > li + li {
        margin-top: 20px;
      }
    }


    > .reflections {

      .reflection {
        @include display(flex);
        @include justify-content(flex-end);

        aside.votes {
          background-color: hsl(137, 54%, 50%);
          border-radius: 12px;
          color: white;
          cursor: pointer;
          font-size: 15px;
          font-weight: 600;
          height: 24px;
          line-height: 24px;
          margin-right: 10px;
          padding: 0 10px;
          position: relative;
          top: -2px;

          i {
            margin-right: 5px;
          }
        }

        > .content {
          @include flex(1);
          max-width: 535px;
        }

        .content {
          font-size: 16px;
          font-weight: 300;

          a {
            font-weight: 400;
          }
        }

        span.content::after {
          content: ', ';
        }
      }

    }


    > .collections {

      .collection {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;

        > section {
          > a {
            font-weight: 600;
          }
        }

      }
    }

  }
}
