$form-control-unit: 20px; 

$form-header-color-title: hsl(0, 0%, 50%);
$form-header-font-size: 28px;

$form-control-background-color: hsl(0, 0%, 95%);
$form-control-font-size: 20px;
$form-control-font-size-textarea: 20px;
$form-control-height: 40px;
$form-control-padding: 0 $form-control-unit;

$form-control-select-control-color: hsl(145, 60%, 60%);

@mixin form-control {
  background-color: hsl(0, 0%, 95%);
  border: none;
  font-size: $form-control-font-size;
  height: $form-control-height;
  outline: none;
  padding: $form-control-padding;
  width: 100%;
}

input.form-control,
textarea.form-control,
select.form-control {
  @include form-control;
}


.form-control-wrapper {
  position: relative;
}


// Textarea
//
textarea.form-control {
  font-size: $form-control-font-size-textarea;
}


// Select
//
select.form-control {
  @include appearance(none);

  border: none;
  border-radius: 0;
}


select.form-control ~ i.control {
  @include position(absolute, 50% 0px null null);
  @include transform(translateY(-50%));
  
  color: $form-control-select-control-color;
  margin-right: $form-control-unit;
}

// Form header
//
form > header.form-header {
  @include display(flex);
  
  background-color: hsl(0, 0%, 95%);
  font-size: $form-header-font-size;
  font-weight: 300;
  padding: $form-control-unit $form-control-unit * 1.5;
  
  > .title {
    @include flex(1);
    
    color: $form-header-color-title;
    margin-left: $form-control-unit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


// Form fieldset
//
form > fieldset.form-fieldset {
  border: none;
  margin: $base-unit $base-unit * 1.5;
}


// Section
//
form > fieldset > section.form-section {
  @include align-items(center);
  @include display(flex);
  
  margin-top: $form-control-unit;
  
  > .title {
    font-size: $form-control-font-size;
    width: 40%;
  }
  
  > .form-control-wrapper {
    @include flex(1);
  }
}


// Form footer
//
form > footer.form-footer {
  @include display(flex);
  @include justify-content(space-between);
  
  padding: $form-control-unit / 2 $form-control-unit * 1.5 $form-control-unit * 2;
}
