<% title 'Collections' %>

<section class="cc-container-common glued" data-react-class="components/shared/subscription">
</section>

<%= content_tag :article, nil, data: {
  "react-class" => "components/pinboards_app",
  "react-props" => {
    user_id: current_user.uuid
  }
} %>

<% content_for :header_menu do %>
  <%= render 'shared/header_menu' %>
<% end %>

<%= content_for :class_for_main, 'pinboards' %>
