main > article.company > div.burn-rate {
  margin: 0 auto;
  padding: $base-unit * 2 0;
  background-color: $white-smoke;

  > div.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $base-unit * 6;

    > table {
      border-collapse: separate;
      border-spacing: $base-unit / 3;
      margin-left: -$base-unit / 3;
      font-size: 15pt;

      > thead {
        text-transform: uppercase;

        > tr > th {
          font-weight: 300;

          &.current-month {
            color: $ufo-green;
          }
        }

        .fa-chevron-left {
          float: left;
          margin-top: 4px;
        }

        .fa-chevron-right {
          float: right;
          margin-top: 4px;
        }

        .fa-chevron-left, .fa-chevron-right {
          color: $gray-chateau;
          font-size: 12pt;
        }

      }

      > tbody {
        > tr {

          &.total {
            font-weight: bold;
          }

          > td.title {
            > div.name {
              font-weight: 400;
            }

            > div.occupation {
              text-transform: uppercase;
              font-size: 10pt;
              color: $gray-chateau;
            }

          }

          > td.data, td.total {
            height: $base-unit * 2;
            width: $base-unit * 6;
            text-align: right;
            vertical-align: middle;
            padding-right: $base-unit / 2;
            background-color: white;
          }

        }

      }
    }

  }
}
