main > article.company > div.wrapper {
  font-size: 15pt;

  > header {
    position: relative;
    text-align: center;
    margin: $base-unit 0 $base-unit;

    > select {
      margin-left: $base-unit;
    }

  }

  > div.content {
    margin: 0 auto;
    padding: $base-unit * 2 0;
    background-color: $white-smoke;

    > div.burn-rate {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 $base-unit * 6;

      > table {
        table-layout: fixed;
        width: 100%;
        border-collapse: separate;
        border-spacing: $base-unit / 3;
        margin-left: -$base-unit / 3;

        td.data, td.total {
          height: $base-unit * 2;
          width: $base-unit * 6;
          text-align: right;
          vertical-align: middle;
          padding-right: $base-unit / 2;
          background-color: white;
        }

        > thead {
          text-transform: uppercase;

          > tr > th {
            font-weight: 300;

            &.current-month {
              color: $ufo-green;
            }

            &:first-child {
              width: 30%;
            }
          }

          a.chevron-left {
            float: left;
            margin-top: 2px;
          }

          a.chevron-right {
            float: right;
            margin-top: 2px;
          }

          a.chevron-left, a.chevron-right {
            color: $gray-chateau;
            font-size: 12pt;

            > i {
              position: relative;
            }
          }

        }

        > tbody {
          > tr {

            > td.title {

              > div.name, div.occupation {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              > div.name {
                font-weight: 400;
              }

              > div.occupation {
                text-transform: uppercase;
                font-size: 10pt;
                color: $gray-chateau;
              }

            }

          }

        }

        > tfoot {
          font-weight: bold;
        }
      }
    }

  }

}

