$company-header-logo-size: $base-unit * 8;

$company-header-title-color: hsl(0, 0, 100%);
$company-header-title-font-size: 30pt;
$company-header-title-font-weight: 400;
$company-header-title-small-font-weight: 300;


$company-header-nav-link-background-color: hsl(0, 0%, 96%);
$company-header-nav-link-color: hsl(0, 0%, 48%);
$company-header-nav-link-font-size: 8pt;
$company-header-nav-link-font-weight: 400;
$company-header-nav-link-height: $base-unit;
$company-header-nav-link-width: $base-unit * 4;

$company-header-nav-link-current-background-color: hsl(136, 52%, 51%);
$company-header-nav-link-current-color: hsl(0, 0%, 100%);


article.company {
  margin: 0 -$base-unit;
  
  
  > header {
    @include align-items(center);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-end);

    background-color: hsl(170, 25%, 25%);
    min-height: $base-unit * 12;
    padding: $base-unit * 1.5;
    position: relative;
    
    
    > aside.logo {
      @include display(flex);
      @include position(absolute, 0 0 $base-unit * 1.5 $base-unit * 1.5);
      
      background-color: hsl(230, 25%, 25%);
      border: 1pt solid hsl(0, 0%, 100%);
      height: $company-header-logo-size;
      width: $company-header-logo-size;
      
      > i.fa {
        color: hsl(0, 0%, 100%);
        font-size: 20pt;
        margin: auto;
      }
    }
    
    > h1 {
      color: $company-header-title-color;
      font-size: $company-header-title-font-size;
      font-weight: $company-header-title-font-weight;
      
      margin: 0 0 $base-unit * 1.5;
      
      text-align: center;
      text-shadow: hsla(0, 0%, 0%, .5) 0 2pt 2pt;
      
      > small {
        display: block;
        font-size: .75em;
        font-weight: $company-header-title-small-font-weight;
        
        margin-top: $base-unit / 2;
      }
    }
    
    > nav {
      @include display(flex);
      
      a {
        background-color: $company-header-nav-link-background-color;
        color: $company-header-nav-link-color;

        display: block;
        
        font-size: $company-header-nav-link-font-size;
        font-weight: $company-header-nav-link-font-weight;
        
        height: $company-header-nav-link-height;
        line-height: $company-header-nav-link-height + 1pt;
        
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        width: $company-header-nav-link-width;
        
        &.current,
        &:hover {
          background-color: $company-header-nav-link-current-background-color;
          color: $company-header-nav-link-current-color;
        }

        &:not(:first-child) {
          margin-left: $base-unit / 2;
        }
        
      }
      
    }
    
  }
  
  
}