$company-header-background-color: hsl(0, 0%, 70%);

$company-header-logo-size: $base-unit * 8;

$company-header-title-color: hsl(0, 0, 100%);
$company-header-title-font-size: 30pt;
$company-header-title-font-weight: 400;
$company-header-title-small-font-weight: 300;


$company-header-nav-link-background-color: hsl(0, 0%, 96%);
$company-header-nav-link-color: hsl(0, 0%, 48%);
$company-header-nav-link-font-size: 8pt;
$company-header-nav-link-font-weight: 400;
$company-header-nav-link-height: $base-unit;
$company-header-nav-link-width: $base-unit * 4;

$company-header-nav-link-current-background-color: hsl(136, 52%, 51%);
$company-header-nav-link-current-color: hsl(0, 0%, 100%);


article.company {
  margin: 0 $base-unit * -1;
  
  > header {
    background-color: $company-header-background-color;
    margin: 0 auto;
    max-height: $company-header-logo-size + $base-unit * 5;
    padding: $base-unit * 2 0;
    position: relative;
    
    &::before {
      content: '';
      display: block;
      padding-top: 15%;
    }
    
    > .container {
      @include position(absolute, 0px 0px 0px 0px);
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(flex-end);

      max-width: $editor-max-width;
      margin: 0 auto;
      padding: 0 $base-unit * 6;

      > aside.logo {
        @include display(flex);
        @include position(absolute, 0 0 $base-unit * 1.5 $base-unit * 6);
      
        background-color: hsl(0, 0%, 100%);
        background-position: center center;
        background-repeat:  no-repeat;
        background-size: contain;

        border: $base-unit / 2 solid #fff;
        height: $company-header-logo-size;
        width: $company-header-logo-size;
      
        > i.fa {
          color: hsla(0, 0%, 0%, .25);
          font-size: 20pt;
          margin: auto;
        }
      }

      > h1 {
        color: $company-header-title-color;
        font-size: $company-header-title-font-size;
        font-weight: $company-header-title-font-weight;
      
        margin: 0 0 $base-unit * 1.5;
        padding-left: $base-unit * 1.5 + $company-header-logo-size;
      
        width: 100%;
      
        > small {
          display: block;
          font-size: .75em;
          font-weight: $company-header-title-small-font-weight;
        
          margin-top: $base-unit / 2;
        }
      
        input {
          background-color: transparent;
          border: none;
          color: inherit;
          outline: none;
          text-shadow: inherit;
          width: 100%;
        
          @include placeholder {
            font-weight: 300;
          }
        }
      }

      > nav {
        @include display(flex);
      
        margin: 0 0 $base-unit * 1.5;
        padding-left: $base-unit * 1.5 + $company-header-logo-size;

        a {
          background-color: $company-header-nav-link-background-color;
          color: $company-header-nav-link-color;

          display: block;
        
          font-size: $company-header-nav-link-font-size;
          font-weight: $company-header-nav-link-font-weight;
        
          height: $company-header-nav-link-height;
          line-height: $company-header-nav-link-height + 1pt;
        
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;

          width: $company-header-nav-link-width;
        
          &.current,
          &:hover {
            background-color: $company-header-nav-link-current-background-color;
            color: $company-header-nav-link-current-color;
          }

          &:not(:first-child) {
            margin-left: $base-unit;
          }
        
        }
      
      }

    }
  }
  
}
