main > .error {
  @include display(flex);
  @include flex(1);
  @include flex-direction(column);
  @include align-items(center);

  background-color: $background-color;
  height: 100%;
  padding: 50px 0 50px;
  width: 100%;
  
  > header {
    > h1, > h2 {
      font-weight: 300;
      margin: 0;
      text-align: center;
    }

    > h1 {
      font-size: $great-font-size;
    }

    > h2 {
      font-size: $huge-font-size;
    }
  }

  > img {
    padding: 60px 0 45px;
  }
}
