main.insight > div {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);

  .share-buttons, .copy-link {
    margin-top: 24px;

    > ul {
      @include flex-ul;
      @include justify-content(flex-end);

      > li {
        &:first-child {
          line-height: 40px;
          padding: 0 20px;
          font-size: 15px;
          font-weight: bold;
        }

        &:not(:last-child) {
          margin-right: 10px;
        }

        > button {
          outline: none;

          > i{
            margin: 0;
          }
        }

        > input {
          width: 250px;
        }
      }
    }

  }
}
