$modal-overlay-z-index: 10000;

.modal-overlay {
  @include display(flex);
  @include position(absolute, 0px 0px 0px 0px);
  
  background-color: hsla(0, 0%, 0%, .25);
  z-index: $modal-overlay-z-index;
  
  .modal-container {
    background-color: hsl(0, 100%, 100%);
    margin: auto;
  }
  
}
