$modal-overlay-background-color: hsla(0, 0%, 0%, 0.5);;
$modal-container-background-color: hsl(0, 100%, 100%);

// Modal form
//

$modal-form-font-size: 18px;
$modal-form-padding: 20px 50px 40px;

$modal-form-header-font-size: 50px;
$modal-form-header-font-weight: 300;

$modal-form-fieldset-margin: 20px 0 0;
$modal-form-fieldset-label-margin: 15px 0;

$modal-form-footer-margin: 30px 0 0;

$modal-form-input-background-color: hsl(0, 0%, 96%);
$modal-form-input-background-color-error: hsl(359, 67%, 87%);
$modal-form-input-color-error: hsl(0, 10%, 49%);
$modal-form-input-padding: 8px 10px;

$modal-form-button-background-color: hsl(137, 51%, 51%);
$modal-form-button-background-color-alert: hsl(358, 77%, 56%);
$modal-form-button-color: hsl(0, 100%, 100%);
$modal-form-button-font-size: 16px;
$modal-form-button-height: 35px;
$modal-form-button-padding: 0 20px;


@mixin modal-form-button {
  background-color: $modal-form-button-background-color;
  border: none;
  color: $modal-form-button-color;
  font-size: $modal-form-button-font-size;
  height: $modal-form-button-height;
  margin: 0;
  padding: $modal-form-button-padding;

  &:disabled {
    background-color: desaturate($modal-form-button-background-color, 100%);
  }

  &.alert {
    background-color: $modal-form-button-background-color-alert;

    &:disabled {
      background-color: desaturate($modal-form-button-background-color-alert, 100%);
    }
  }

  > i.fa {
    margin-left: 8px;
  }
}


@mixin modal-auth-form {
  font-size: $modal-form-font-size;
  padding: $modal-form-padding;
  width: $login-form-width;

  > header {
    font-size: $modal-form-header-font-size;
    font-weight: $modal-form-header-font-weight;

    a {
      margin-right: 10px;
    }
  }

  > fieldset {
    border: none;
    margin: $modal-form-fieldset-margin;
    padding: 0;

    > label {
      @include align-items(center);
      @include display(flex);
      @include justify-content(flex-end);

      font-weight: 300;
      margin: $modal-form-fieldset-label-margin;

      > input {
        background-color: $modal-form-input-background-color;
        border: none;
        margin-left: 10px;
        outline: none;
        padding: $modal-form-input-padding;
        width: 70%;

        &.error {
          background-color: $modal-form-input-background-color-error;
          color: $modal-form-input-color-error;
        }
      }
    }
  }

  > footer {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);

    margin: $modal-form-footer-margin;

    button {
      @include modal-form-button;
    }
  }
}

@mixin modal-header {
  @include display(flex);

  background-color: $disabled-grey-color;
  position: relative;
  
  > h1 {
    font-size: $large-font-size;
    font-weight: 700;
    margin: 0;
    padding: $default-margin-size;
    text-align: center;
    width: 100%;
  }

  > .close-button {
    @include position(absolute, 50% 0px 0 0);
    height: 36px;
    margin-top: -18px;

    i {
      color: $accented-white-color;
      font-size: 36px;
      font-weight: 700;
      line-height: 36px;
    }
  }
}


body ul.modal-stack {
  @include position(fixed, 0px 0px 0px 0px);

  list-style: none;
  margin: 0;
  padding: 0;
  z-index: $zindex-modal;

  > li.modal-stack-item {
    @include align-items(center);
    @include display(flex);
    @include justify-content(center);
    @include position(fixed, 0px 0px 0px 0px);

    overflow: scroll;

    background-color: $modal-overlay-background-color;

    .modal-header {
      @include modal-header();
    }

    > * {
      &.post-container {
        @include align-self(flex-start);

        min-height: 100%;
      }
    }

    > .pins {
      background-color: $background-color;
    }
  }
}

.modal-stack-item > * {
  @include box-shadow(0 5px 30px hsla(0, 0%, 0%, .4));

  background-color: hsl(0, 100%, 100%);
}

.info-modal {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(column);

  padding: $gutter-size;
  width: 400px;

  > header {
    font-size: $large-font-size;
    font-weight: 700;
    width: 100%;
  }

  > p {
    font-size: $basic-font-size;
    font-weight: 300;
    line-height: 1.4;
    margin: $default-margin-size 0;
  }
}


@import 'modals/login-form';
@import 'modals/splash';
@import 'modals/pin-form';
