$modal-overlay-z-index: 10000;

body > .modal-overlay {
  @include display(flex);
  @include position(absolute, 0px 0px 0px 0px);
  
  background-color: hsla(0, 0%, 0%, .25);
  z-index: $modal-overlay-z-index;
  
  .modal-container {
    margin: auto;
    
    > * {
      background-color: hsl(0, 100%, 100%);
    }
    
    > .lock {
      @include display(flex);

      background-color: hsla(0, 100%, 100%, .75);
      border-radius: $base-unit;
      font-size: $base-unit * 2;
      height: $base-unit * 5;
      width: $base-unit * 5;
  
      > i {
        margin: auto;
      }
    }
    
  }
  
}
