// Pin Card Insight
//
@mixin pin-card-insight {
  @include align-items(center);
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);

  border-top: $card-hr;
  padding: $card-basic-space 0 ;

  > p {
    margin-bottom: $card-basic-space * .75;
    white-space: pre-wrap;
    width: 100%;
  }

}



// Pin Card Footer
//
@mixin pin-card-footer {
  @include align-items(center);
  @include display(flex);
  @include flex-wrap(wrap);

  background-color: hsl(0, 0%, 94%);
  margin-right: - $card-basic-space;
  margin-bottom: - $card-basic-space;
  margin-left: - $card-basic-space;
  margin-top: 0;
  padding: $card-basic-space 0;

  > p {
    margin-bottom: $card-basic-space * .75;
    margin-left: 60px;
    white-space: pre-wrap;
    width: 100%;
  }

  > i {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    text-align: center;
    width: 60px;
  }


}


// Pin Card
//
.pin.cloud-card {
  position: relative;

  > .round-buttons {
    @include position(absolute, $default-margin-size $default-margin-size 0 0);
  }

  > .insight {
    @include pin-card-insight;
  }

  > footer {
    @include pin-card-footer;
  }
}
