main.pinboards {
  background-color: hsl(0, 0%, 98%);
  margin: 0;
  padding: 0;
}


article.pinboards {
  @include display(flex);
  @include justify-content(center);
}

.pinboard.cloud-card {


  > header {
    i {
      color: hsl(0, 0%, 93%);
      font-size: 15px;
      line-height: 13px;
    }
  }


  > footer {
    @include align-items(center);
    @include display(flex);

    margin-bottom: -5px;
    padding-top: 15px;

  }

}
