$profile-header-color: hsl(0, 0%, 93%);

main.user-profile {
  @include display(flex);
  @include flex-direction(column);
  background-color: $background-color;

  padding: 0;

  > div {
    @include display(flex);
    @include flex-direction(column);
    @include flex(1);
    height: 100%;
  }
}

section.user-profile {
  @include display(flex);
  @include flex-direction(column);
  @include flex(1);

  width: 100%;

  > header {
    background-color: $profile-header-color;

    .cloud-columns {
      @include flex-direction(column);

      margin: 0 auto;
      padding-bottom: 0;
      position: relative;
    }
  }

  > header .follow-button {
    @include position(absolute, 50% $gutter-size 0 0);

    margin-top: -17px - 33px;
  }

  > header .info {
    @include display(flex);

    padding: $gutter-size;

    > aside {
      background-color: hsl(0, 0%, 96%);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 100%;
      height: 150px;
      margin: 0 auto;
      position: relative;
      width: 150px;
      
      &:hover {
        > label {
          &:before {
            @include position(absolute, 0px 0px 0px 0px);

            content: "";
            background-color: hsla(0, 0%, 70%, 0.7);
            border-radius: 100%;
          }

          > i.fa-camera {
            visibility: visible;
          }
        }
      }
      
      > figure {
        font-size: 30px;
        font-weight: 100;
        line-height: 150px;
        text-align: center;
        width: 100%;
      }
      
      > label {
        @include position(absolute, 0px 0px 0px 0px);
        cursor: pointer;

        > i.fa-camera {
          @include position(absolute, 50% 0 0 50%);
          
          color: black;
          cursor: pointer;
          margin-left: -10px;
          margin-top: -10px;
          font-size: 20px;
          visibility: hidden;
        }
        
        input {
          height: 0;
          overflow: hidden;
          position: absolute;
          visibility: hidden;
          width: 0;
        }
      }     
    }

    > .personal {
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(space-between);

      font-size: $basic-font-size;
      font-weight: 400;
      margin-left: $default-margin-size;

      h1 {
        font-size: $huge-font-size;
        font-weight: 300;
        margin: 0;
      }

      .stats {
        margin: 0;
      }

      .occupation,
      .twitter {
        color: $secondary-link-color;
      }

      .spacer {
        @include flex(1);
      }
    }
  }

  .pins,
  .companies-list,
  .feed,
  .empty {
    padding: $gutter-size/2;
    margin: 0 auto;
  }

  .empty {
    @include display(flex);
    @include flex-direction(column);
    @include flex(1);
    @include justify-content(center);

    font-size: $large-font-size;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
  }
}

@import "profile/feed";
@import "profile/settings";
@import "profile/emails";