main.stories > div.wrapper {
  margin: 0 auto;
  width: 800px;

  ul.stories-list {
    @include flex-ul;
    @include display(flex);
    @include flex-wrap(wrap);

    > li {
      background-color: white;
      border: 2px solid hsl(0, 0%, 96%);
      margin: 0 20px 20px 0;
      padding: 20px;
      cursor: pointer;
      width: 380px;
      height: 190px;

      > header {
        @include display(flex);

        margin-bottom: 20px;

        > h3 {
          font-size: 20px;
          font-weight: 600;
          margin: 0;
        }

        > div.spacer {
          @include flex(1);
        }

        > ul.counters {
          @include flex-ul;

          > li {
            margin-right: 12px;

            &:last-child {
              margin-right: 0;
            }

            > span {
              margin-right: 4px;
            }

            > i {
              font-size: 15px;
            }
          }
        }
      }

      > div.content {
        font-size: 15px;
      }

    }
  }

}
