$vacancy-editor-identity-selector-item-header-font-size: 15px;
$vacancy-editor-identity-selector-item-footer-font-size: 10px;
$vacancy-editor-identity-selector-item-size: 35px;

@mixin vacancy {
  
  > figure {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: 300;
    position: relative;
    text-align: center;
    
    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }
  
  > header,
  > footer {
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  > header {
    font-weight: 400;
  }
  
  > footer {
    font-weight: 300;
    text-transform: uppercase;
  }
  
}

.vacancy {
  @include vacancy;
}


// Vacancy in chart identity filter
// Draggable vacancy
//
.blueprint .identity-filter .vacancy,
.draggable .vacancy {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);

  height: $vacancy-editor-identity-selector-item-size;
  padding-left: $vacancy-editor-identity-selector-item-size + 10px;
  position: relative;

  > figure {
    @include position(absolute, 0px 0 0 0px);
    
    border-radius: $vacancy-editor-identity-selector-item-size / 2;
    color: hsl(0, 100%, 100%);
    font-size: $vacancy-editor-identity-selector-item-size / 2;
    height: $vacancy-editor-identity-selector-item-size;
    line-height: $vacancy-editor-identity-selector-item-size + 2px;
    width: $vacancy-editor-identity-selector-item-size;
  }
  
  > header {
    font-size: $vacancy-editor-identity-selector-item-header-font-size;
  }
  
  > footer {
    font-size: $vacancy-editor-identity-selector-item-footer-font-size;
  }
}
