main.welcome {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
}


main > article > section {
  
  &.index {
    width: $base-unit * 30;
    
    > a {
      @include display(flex);
      margin: 0 auto;
      width: 200pt;
    }
  }
  
  > h1 {
    @include cloud-profile-section-header;
    font-weight: 100;
  }
  
  > p {
    font-size: 20pt;
    font-weight: 300;
    margin: $base-unit * 2 0;
  }
  
}
