main.welcome {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
}


main > article > section {
  
  &.index {
    width: $base-unit * 30;
    
    > a {
      @include display(flex);
      margin: 0 auto;
      width: 200pt;
    }
  }
  
  > h1 {
    @include cloud-profile-section-header;
    font-weight: 100;
  }
  
  > p {
    font-size: 20pt;
    font-weight: 300;
    margin: $base-unit * 2 0;
  }
  
}

main.newsplash {
  @include display(flex);
  @include flex-direction(column);
  
  font-size: 25px;
  font-weight: 300;
  padding: 0;
  text-align: center;
  
  p {
    margin: 15px 0 40px;
    
    strong {
      font-weight: 600;
    }
  }
  
  > header {
    background-color: hsl(136, 52%, 51%);
    color: hsl(0, 0%, 100%);
    
    h1 {
      font-size: 38px;
      font-weight: 400;
      margin: 25px 0 0;
      text-transform: capitalize;
    }
    
  }
  
  > section {
    @include flex(1);
    
    background-color: hsl(0, 0%, 96%);
    padding: 0 0 50px;
    
    > figure {
      background: image-url('macbookpro.svg') no-repeat center center;
      background-size: auto 100%;
      display: block;
      height: 370px;
      margin: 50px 0 50px;
      position: relative;
      
      > div {
        @include position(absolute, 25px 0 0 50%);

        border: none;
        height: 300px;
        margin-left: -240px;
        position: absolute;
        width: 481px;
      }
    }

    button {
      background-color: hsl(137, 51%, 51%);
      border: none;
      color: hsl(0, 100%, 100%);
      font-size: 30px;
      font-weight: 300;
      height: 60px;
      padding: 0 50px;
    }
  }
  
}