.block {
    border: 1px dotted gray;
}

.anchor {
    text-decoration: none;
    color: black;
}

.bold {
    font-weight: bold;
}

.ajax-loader {
    background: image-url('ajax-loader.gif');
    width: 16px;
    height: 16px;
    display: none;
}
