.block {
    border: 1px dotted gray;
}

.notice {
    color: green;
    margin-bottom: 15px;
}

.alert {
    color: #D00;
    margin-bottom: 15px;
}

.anchor {
    text-decoration: none;
    color: black;
}

.bold {
    font-weight: bold;
}

.ajax-loader {
  background: image-url('ajax-loader.gif');
  width: 16px;
  height: 16px;
  display: none;
}
