@mixin aside {
    position: fixed;
    top: $base-unit * 5;
    width: $base-unit * 13;
}

div.companies-wrapper {
    $wrapper-padding: $base-unit * 13 + $base-unit;
    padding-left: $wrapper-padding;
    padding-right: $wrapper-padding;

    nav {
        @include aside;
        padding: $base-unit;
        background-color: $white-smoke;
        left: $base-unit;
        
        p {
            font-size: $base-font-size / 2;
            font-style: italic;
            color: $jumbo;
        }

        ul.company-sections {
            padding: 0;

            li {
                list-style-type: none;
                line-height: 30pt;

                a {
                    font-size: 14pt;
                    color: $dark-grey;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
    }

    article {
        width: 100%;
        font-size: 16pt;
        line-height: 21pt;

        .empty {
            color: $alto;
            font-style: italic;
        }

        h2, section > p {
            margin-left: $base-unit * 2;
            margin-bottom: $base-unit * 2;
        }

        section > div.chart-template {
            border: 1px solid $alto;
            height: $base-unit * 3;
            margin-bottom: $base-unit * 2;
        }

        div.temporary_nav {
            font-size: 10pt;
            margin-top: 100px;
        }
    }

    aside.blocks {
        @include aside;
        right: $base-unit;
    }
       
}
