$blocks-background-color: hsl(0, 0, 96%);
$blocks-color: hsl(60, 0, 35%);
$blocks-title-background-color: hsl(0, 0, 93%);
$blocks-title-icon-color: hsl(0, 0, 78%);


@mixin aside {
    position: fixed;
    top: $base-unit * 5;
    width: $base-unit * 13;
}

div.companies-wrapper {
    $wrapper-padding: $base-unit * 13 + $base-unit;
    padding-left: $wrapper-padding;
    padding-right: $wrapper-padding;

    nav {
        @include aside;
        padding: $base-unit;
        background-color: $white-smoke;
        left: $base-unit;
        
        p {
            font-size: $base-font-size / 2;
            font-style: italic;
            color: $jumbo;
        }

        ul.company-sections {
            padding: 0;

            li {
                list-style-type: none;
                line-height: 30pt;

                a {
                    font-size: 14pt;
                    color: $dark-grey;
                    text-decoration: none;
                }
            }
        }
    }

    article {
        width: 100%;
        font-size: 16pt;
        line-height: 21pt;

        .empty {
            color: $alto;
            font-style: italic;
        }

        h2 {
            margin-left: $base-unit * 2;
            margin-bottom: $base-unit;
        }

        section {
            p, div {
                margin-bottom: $base-unit * 2;
            }

            p, div.image-template {
                margin-left: $base-unit * 2;                
            }

            p {
                position: relative;

                i {
                    position: absolute;
                    left: -$base-unit * 2;
                    cursor: -webkit-grab;
                }

                i:active {
                    cursor: -webkit-grabbing;
                }
            }

            div.chart-template {
                border: 1px solid $alto;
                border-left: none;
                border-right: none;
                height: $base-unit * 4;
                background: -webkit-linear-gradient(0, transparent 97%, $alto);
                background-size: $base-unit * 4;

                div.chart-hint {
                    width: $base-unit * 11;
                    margin: $base-unit * 0.8 auto;
                    text-align: center;
                    background-color: $mystic;
                    color: $white;

                    i, span {
                        font-size: 12pt;
                    }

                    span {
                        margin-left: $base-unit * 0.4;
                    }
                }
            }

            div.image-template {
                position: relative;
                height: $base-unit * 22;
                background-color: $white-smoke;
                border: 1px solid $alto;
                font-size: 12pt;
                color: $alto;

                div.image-hint {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 220px;
                    height: 120px;
                    margin: auto;

                    h4, p {
                        margin: 0;
                    }
                }
            }
        }

        div.temporary_nav {
            font-size: 10pt;
            margin-top: 100px;
        }
    }

    aside.blocks {
        @include aside;
        right: $base-unit;
        
        ul, li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        
        ul {
            
            li {
                background-color: $blocks-background-color;
                color: $blocks-color;
                cursor: move;
                font-size: 14pt;
                font-weight: 700;
                line-height: 1em;
                padding: $base-unit;
                padding-right: 0;
                
                &:not(:last-child) {
                    margin-bottom: 2pt;
                }
                
                i {
                    margin-right: .5em;
                    width: 1em;
                    text-align: center;
                }
                
                &.title {
                    
                    background-color: $blocks-title-background-color;
                    font-size: 12pt;
                    font-weight: normal;
                    
                    i {
                        color: $blocks-title-icon-color;
                        font-size: .9em;
                        text-align: right;
                    }
                }
                
            }
            
        }
        
    }   
}
