div.editable-article-wrapper {
    $wrapper-padding: $base-unit * 13 + $base-unit;

    // padding-left: $wrapper-padding;
    // padding-right: $wrapper-padding;
    margin-top: $base-unit;
    padding: 0;
    position: relative;

    > nav {
        @include glued-editable-article-block('glued', $top: $base-unit, $left: $base-unit);
        
        background-color: $white-smoke;
        left: 0;
        padding: $base-unit;
        position: absolute;
        top: 0;
        width: $base-unit * 13;
        
        ul, li {
          margin: 0;
          padding: 0;
          list-style: none;
        }
        
        > ul {

          > li.logo {
            position: relative;

            > form {
              display: none;
              position: absolute;
              top: 0;

              input[type="file"] {
                position: absolute;
                left: 0;
                height: $button-height-small;
                width: 100%;
                opacity: 0;
              }

              > .button.small {
                border: 1px solid $gray-chateau;
                @include linear-gradient(lighten($grey-button-back-color-transparent, 2%), darken($grey-button-back-color-transparent, 2%));
              }
            }

            &:hover {
              > form {
                display: block;
              }
            }

          }

          > li.description {
            
            textarea {
              background-color: $white-smoke;
              border: none;
              color: hsl(0, 0, 53%);
              font-size: 12pt;
              // font-style: italic;
              padding: 0;
              resize: none;
              width: 100%;
            }
            
          }
          
          > li.links {
            font-size: 14pt;
            font-weight: 700;
            
            a {
              color: hsl(0, 1%, 34%);
              text-decoration: none;
            }
            
          }
          
          
        }
        
        ul > li:not(:first-child) {
          margin-top: $base-unit;
        }


    }
    
    > article {
      margin: 0 $wrapper-padding;
      position: relative;
      
      > h2 {
        margin: 0 0 $base-unit / 2;
      }
      
      > section {
        // background-color: #eee;
        margin: $base-unit 0 $base-unit * 2;
        min-height: $base-unit;
        
        > nav {
          @include display(flex);
          
          a:not(:first-child) {
            margin-left: .5em;
          }

          a:not(:last-child) {
            margin-right: .5em;
          }
        }
        
        .identity-block {
          // background-color: #ccc;
          margin: $base-unit 0;
          padding-left: $base-unit * 2;
          position: relative;
          
          .handle {
            font-size: 15pt;
            left: 0;
            opacity: 0;
            position: absolute;
            top: .1em;
          }
          
          &:hover .handle {
            opacity: 1;
          }

        }
        
      }
      
      .droppable-placeholder {
        background: #000;
        height: 1pt;
        position: absolute;
        margin-top: - $base-unit / 2;
        width: 100%;
        left: 0;
        opacity: .25;
        z-index: 1000;
      }

    }

    aside.blocks {
        @include editable-article-block;
        @include glued-editable-article-block('glued', $top: $base-unit, $right: $base-unit);
  
        position: absolute;
        right: 0;
        top: 0;
        width: $base-unit * 13;
    }
    

    @media screen and (max-width: 1300px) {
      aside.blocks {
        width: $base-unit * 3;
        li span {
          display: none;
        }
      }
    }

}

