i.cc-icon {
  display: inline-block;
  font: normal normal normal 14px/1 $base-font-family;
  font-size: inherit;
  font-weight: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 

  &.cc-fw {
    width: 1.28571429em;
    text-align: center;
  }

  &.cc-plus:before {
    content: "+";
    font-size: 2em;
    font-weight: 100;
  }

  &.cc-times:before {
    content: "×";
  }
}

i.svg-icon {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  &.svg-unicorn {
    background: image_url('unicorn.svg') no-repeat no-repeat center center;
    background-size: 16px 16px;
    color: hsl(51, 99%, 61%);
    height: 23px;
    top: -2px;
    width: 23px;
  }

  &.svg-cloudchart-logo {
    background: image_url('cloudchart-logo.svg') no-repeat no-repeat center center;
    background-size: 53px 34px;
    color: hsl(137, 54%, 50%);
    height: 34px;
    top: -2px;
    width: 53px;
  }
}