$interviews-base-unit: 70px;

@mixin interviews-base-wrapper {
  min-width: 850px;
  max-width: 1200px;
}

main.landing > article.interview {

  p {
    font-size: 30px;
    line-height: 45px;
    font-weight: 300;
  }

  strong, a {
    font-weight: 600;
  }

  h1 {
    margin-top: 0;
    font-size: 50px;
    font-weight: normal;
  }

  > header {
    @include display(flex);
    @include justify-content(center);

    padding: $interviews-base-unit;

    > aside {
      margin-right: $interviews-base-unit;
      width: 300px;

      > figure {
        @include rounded-figure;

        width: inherit;
        height: 300px;
        background-image: image-url('interview/cc_anton_square.jpg');
      }
    }

    > div.content {
      @include flex(1);
      max-width: 700px;

      > p:last-child {
        margin-bottom: 0;
      }
    }
  }

  > section {
    margin: $interviews-base-unit auto;
    padding: 0 $interviews-base-unit;
    min-width: 850px;
    max-width: 1200px;

    p {
      font-size: 35px;
      line-height: 50px;
    }

    &.invite {
      @include display(flex);
      @include flex-direction(column);
      @include align-items(center);

      > form > div > input[type="submit"] {
        @include invite-button;
      }
    }

    > div.founder-tools {
      @include display(flex);
      @include justify-content(center);

      margin-top: $interviews-base-unit;
      margin-bottom: $interviews-base-unit;

      div.description {
        font-size: 25px;
        line-height: 35px;
        font-weight: 300;
        margin-top: 40px;
        margin-left: 10px;
      }

      > div.orgcharting {
        width: 400px;
        margin-right: 100px;

        > figure {
          @include rounded-figure;

          width: inherit;
          height: 400px;
          background-image: image-url('interview/chart.png');
        }
      }

      > div.burn-rate {
        width: 400px;

        > figure {
          @include rounded-figure;

          width: inherit;
          height: 400px;
          background-image: image-url('interview/burn_rate.png')
        }
      }
    }

  }

  > div.timeline {
    height: 730px;
    background-image: image-url('interview/timeline.svg');
    background-position: center;
    background-repeat: no-repeat;
  }  

  > footer {
    @include display(flex);
    @include justify-content(center);

    > div.wrapper {
      @include interviews-base-wrapper;
      @include display(flex);
      @include flex-direction(column);
      @include align-items(center);

      padding: $interviews-base-unit;

      > form > div > input[type="submit"] {
        @include invite-button;
      }
    }
  }

  > header, > footer, > div.timeline {
    background-color: hsl(0, 0%, 96%);
  }
}
