.landing-wrapper {
  min-height: 100%;

  > .landing {
    @include align-items(center);
    @include display(flex);
    @include flex-direction(column);    

    background-color: $background-color;

    > header {
      @include linear-gradient(to bottom, hsla(0, 0%, 95%, 0), hsla(0, 0%, 98%, 1));
      padding: 25px 0;

      > h1, > h2 {
        font-weight: 300;
        margin: 0;
        text-align: center;
      }

      > h1 {
        font-size: $great-font-size;
      }

      > h2 {
        font-size: $huge-font-size;
      }
    }

    > .featured-insights {
      @include flex(1);

      margin-bottom: $gutter-size;
    }

    > section > header {
      font-size: $huge-font-size;
      font-weight: 300;
      margin-left: $gutter-size;
    }

    > section > .companies-list {
      margin-top: $gutter-size/2;
    }
    
    > footer {
      margin: 45px 0;
      text-align: center;
      
      > a.cc {
        background-color: $accented-green-color;
        border: none;
        color: $accented-white-color;
        display: inline-block;
        font-size: $huge-font-size;
        font-weight: 300;
        height: 82px;
        line-height: 82px;
        padding: 0 34px;
      }
    }
  }
}