*,
*::before,
*::after {
    @include box-sizing(border-box);
}

html {
    height: 100%;
}

body {
    @include display(flex);
    @include flex-direction(column);
    
    font-family: $base-font-family;
    font-size: $body-font-size;
    min-height: 100%;
    min-width: $min-page-width;
    
    > main {
        @include flex(1);
        padding: 0 $base-unit;
        position: relative;
    }

    p {
        margin-top: 0;
    }
    
}


.shield {
  background-color: hsla(0, 0, 25%, .75);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.ajax-loader {
    background: image-url('ajax-loader.gif');
    width: 16px;
    height: 16px;
    display: none;
}

@import 'layout/header';
@import 'layout/footer';
@import 'layout/flash';
