* {
    @include box-sizing(border-box);
}

html {
    height: 100%;
}

body {
    @include display(flex);
    @include flex-direction(column);
    
    font-family: $base-font-family;
    font-size: $body-font-size;
    min-height: 100%;
    // min-width: 1200px;
    
    > main {
        @include flex(1);
        padding: 0 $base-unit;
    }

    p {
        margin-top: 0;
    }
    
}

@import 'layout/header';
@import 'layout/footer';
