@mixin base-wrapper {
  margin: 0 auto;
  max-width: 800px;
  margin-top: $base-unit;
}

@mixin black-link {
  color: black;
  text-decoration: none;
}

@mixin flex-ul {
  @include display(flex);
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin base-horizontal-nav {
  > ul {
    @include flex-ul;

    > li {
      width: $base-unit * 6;
      height: $base-unit * 1.5;
      margin-right: $base-unit * 0.5;
      text-align: center;
      line-height: $base-unit * 1.6;

      > a {
        background-color: $white-smoke;
        color: $monsoon;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 10pt;
        display: block;

        &.current, &:hover {
          background-color: $ufo-green;
          color: white;
        }
      }
    }

  }
}

@mixin close-modal-button {
  > button.close {
    @include position(absolute, 0px 10px 0 0);

    font-size: 36px;
    color: hsl(139, 54%, 51%);
  }
}

@mixin iphone {
  @media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
    @content;
  }
}

@import 'mixins/button';
@import 'mixins/form';
@import 'mixins/form_2';
@import 'mixins/companies/index';
@import 'mixins/editor';
@import 'mixins/breaks';
@import 'mixins/hashtag_list';
