@import 'bourbon';


html,
body {
  background-color: white;
  font-family: 'Neue Haas Unica W1G';
  margin: 0;
  padding: 0;
}


article.preview {
  @include display(flex);
  @include flex-direction(column);

  box-sizing: border-box;
  width: 1200px;
  height: 628px;
  background-color: white;
  border: 12px solid hsl(137, 54%, 50%);
  color: black;
  font-weight: 300;
  padding: 64px;

  > .spacer {
    @include flex(1);
  }


  > footer {
    @include align-items(flex-end);
    @include display(flex);
    @include justify-content(space-between);

    margin-top: 45px;

    > figure.cloudchart {
      @include display(flex);
      @include align-items(center);

      color: hsl(137, 54%, 50%);
      margin: 0;
      margin-bottom: -10px;

      img {
        margin-right: 10px;
        width: 90px;
      }

      figcaption {
        font-size: 38px;
        line-height: 46px;

        strong {
          font-weight: 600;
        }
      }
    }
  }

}


@import 'preview/company';
@import 'preview/insight';
@import 'preview/pinboard';
@import 'preview/user';
