@mixin tour-header {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(column);

  width: 577px;

  h1, h2, .logo {
    font-weight: 300;
    text-align: center;
  }

  .logo {
    color: $link-color;
    font-size: $large-font-size;

    i {
      margin-right: $inner-margin-size;
      vertical-align: bottom;
    }

    strong {
      font-weight: 700;
    }  
  }

  h1 {
    font-size: $huge-font-size;
    margin: 0;
    margin-top: $default-margin-size;
    text-transform: capitalize;
  }

  h2 {
    font-size: $large-font-size;
    margin: 0;
    margin-top: $inner-margin-size;
  }
}

@mixin tour-introduction {
  padding: 50px 135px;

  p {
    font-size: $big-font-size;
    font-weight: 300;
    line-height: 27px;
    width: 100%;
  }
}

@mixin tour-companies {
  .companies-list {
    @include display(flex);
    @include justify-content(space-between);

    width: 100%;

    > .company-preview {
      height: 426px;
      width: 370px;

      .human:nth-child(3) ~ .human {
        display: none;
      }
    }
  }

  > .placeholder {
    line-height: 34px;
    margin-bottom: 200px;
    text-align: center;
    width: 300px;
  }
}

@mixin tour-timeline {
  @include display(flex);
  @include justify-content(space-between);

  padding-bottom: 70px;

  > .timeline {
    overflow: hidden;
    position: relative;
    height: 380px;
    width: 100%;

    .container {
      @include transition(transform 1s ease-in-out);

      position: relative;

      > .posts {
        @include transition(transform 1s ease-in-out);

        background: image_url('tour/posts.png') center center no-repeat;
        background-size: 759px 784px;
        height: 784px;
        width: 759px;
      }

      > .insight {
        @include position(absolute, 0 0px 220px 0);
        @include transition(transform 1s ease-in-out);

        background: image_url('tour/insight.png') center center no-repeat;
        background-size: cover;
        height: 155px;
        width: 235px;
      }
    }
  }

  &.scrolled {
    > .timeline > .container {
      @include transform(translateY(calc(-100% + 375px)));
    }
  }

  &.insight-focused {
    > .timeline > .container {
      > .posts {
        @include transform(translateX(calc(-100%)));
      }

      > .insight {
        @include transform(translate(-270px, 115px) scale(1.8));
      }
    }
  }

  &.no-transition {
    > .timeline > .container {
      @include transition(none);
      
      > .posts, > .insight {
        @include transition(none);
      } 
    } 
  }
}

@mixin tour-subscription {
  padding: 50px;
  position: relative;

  > .close {
    @include align-items(center);
    @include display(flex);
    @include justify-content(center);
    @include position(absolute, 20px 20px 0 0);

    color: $accented-red-color;
    height: 20px;
    width: 20px;
    font-size: 48px;

    > .cc-icon {
      position: relative;
      top: -10px;
    }
  }

  > .equation {
    @include align-items(center);
    @include display(flex);

    font-size: 36px;

    > * {
      margin-right: $inner-margin-size;

      &:last-child {
        margin-right: 0;
      }
    }

    > .svg-icon {
      background-size: 105px 69px;

      height: 69px;
      width: 105px;
    }
    
    > .fa {
      font-size: 72px;

      &.fa-heart {
        color: $accented-red-color;
      }
    }
  }

  > form {
    @include align-items(center);
    @include display(flex);
    @include flex-direction(column);

    > input {
      background-color: white;
      border: none;
      border-bottom: 2px solid $accented-green-color;
      display: block;
      font-size: 20px;
      font-weight: 300;
      height: 40px;
      margin-bottom: 20px;
      outline: none;
      padding: 0 10px;
      width: 330px;

      &.error {
        border-color: $accented-red-color;
      }
    }
  }
}

.modal-stack-item > .tour {
  @include align-items(center);
  @include justify-content(center);

  background-color: transparent;
  box-shadow: none;
  height: 100%;
  position: relative;
  width: 100%;

  > .navigation {
    margin-top: 24px;
  }

  > .tour-wrapper {
    @include box-shadow(0 5px 30px hsla(0, 0%, 0%, .4));

    background-color: $background-color;
    height: 588px;
    min-height: 588px;
    position: relative;
    width: 810px;

    > .slide {
      @include align-items(center);
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(space-between);
      @include position(absolute);
      @include transition(opacity .5s ease-in-out);

      height: 100%;
      opacity: 0;
      padding: $gutter-size;
      width: 100%;

      &.active {
        opacity: 1;
        z-index: 1;
      }

      > header {
        @include tour-header();
      }

      &.tour-introduction {
        @include tour-introduction();
      }

      &.tour-companies {
        @include tour-companies();
      }

      &.tour-timeline {
        @include tour-timeline();
      }

      &.tour-subscription {
        @include tour-subscription();
      }

      > p, > div {
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
      }

      > button.cc,
      > form > button.cc {
        font-size: $large-font-size;
        font-weight: 300;
        height: 55px;
        padding: 0 40px;
      }
    }
  }
}