$base-font-size: 24pt;
$base-unit: $base-font-size * .75;

$base-font-family: 'proxima-nova';

// Body
$body-font-size: 10pt;

// Header
$header-background-color: hsl(0, 0, 91%);
$header-font-size: $base-font-size;

// Footer
$footer-background-color: hsl(0, 0, 85.5%);
$footer-font-size: 12pt;
