$base-font-size: 22pt;
$base-unit: $base-font-size * .7;
$base-font-family: 'proxima-nova';

$min-page-width: 1024px;

// Colors
$platinum: hsl(0, 0%, 89%);
$athens-grey: hsl(0, 0, 87%);
$dark-grey: hsl(60, 0, 35%);
$grey: hsl(60, 0%, 55%);
$bright-grey: hsl(0, 0%, 35%);
$north-texas-green: hsl(143, 100%, 26%);
$white: hsl(0, 0, 100%);
$ghost-white: hsl(0, 0%, 98%);
$white-smoke: hsl(0, 0%, 96%);
$light-smoke: hsl(0, 0%, 93%);
$jumbo: hsl(0, 0%, 53%);
$alto: hsl(0, 0%, 78%);
$mystic: hsl(0, 0%, 85%);
$gray-chateau: hsl(0, 0%, 64%);
$monsoon: hsl(0, 0%, 48%);
$ufo-green: hsl(139, 55%, 51%);
$alizarin-crimson: hsl(359, 76%, 53%);
$jonquil: hsl(62, 77%, 76%);
$portage: hsl(232, 73%, 73%);
$cg-red: hsl(1, 76%, 54%);
$baby-pink: hsl(0, 67%, 87%);
$deep-carmine-pink: hsl(0, 82%, 57%);

// Body
$body-font-size: 10pt;

// Header
$header-background-color: hsl(0, 0%, 91%);
$header-font-size: $base-font-size;

// Footer
$footer-background-color: hsl(0, 0%, 94%);
$footer-link-color: hsl(0, 0%, 47%);
$footer-font-size: 14pt;
$footer-font-weight: normal;

// Links
a {
  color: $north-texas-green;

  &.for-group {
    color: inherit;
    display: block;
    text-decoration: none;
  }
}

// Buttons

$grey-button-back-color: $athens-grey;
$grey-button-back-color-transparent: hsla(0, 0, 87%, .75);
$grey-button-text-color: $dark-grey;

$green-button-back-color: $north-texas-green;
$green-button-text-color: $white;

$button-font-size: 18pt;
$button-font-size-small: 10pt;

$button-font-weight: 700;

$button-height: $base-unit * 2;
$button-height-small: $base-unit * 1.3;

// z-indexes

$zindex-modal: 900;
$zindex-dropdown: 700;
$zindex-draggable: 600;

// new design variables

$gutter-size: 24px;
$default-header-height: 75px;
$default-footer-height: 75px;
$default-margin-size: 20px;
$inner-margin-size: 10px;


$green-color:          hsl(141, 91%, 32%);
$accented-green-color: hsl(137, 54%, 50%);
$accented-red-color:   hsl(351, 80%, 49%);
$white-color:          hsl(0, 0%, 98%);
$accented-white-color: hsl(0, 0%, 100%);
$primary-grey-color:   hsl(0, 0%, 53%);
$auxilary-grey-color:  hsl(0, 0%, 73%);
$disabled-grey-color:  hsl(0, 0%, 93%);
$black-color:          hsl(0, 0%, 0%);

$background-color:     $white-color;
$border-color:         $disabled-grey-color;
$special-link-color:   $primary-grey-color;
$card-color:           $accented-white-color;
$link-color:           $accented-green-color;
$disabled-color:       $disabled-grey-color;
$label-color:          $accented-green-color;
$label-text-color:     $white-color;


$micro-font-size:    5px;
$tiny-font-size:     7px;
$little-font-size:   10px;
$small-font-size:    12px;
$basic-font-size:    16px;
$big-font-size:      20px;
$large-font-size:    24px;
$huge-font-size:     36px;
$great-font-size:    54px;
$giant-font-size:    81px;
