<section class="error">
  <header>
    <h1>Great news</h1>
    <h2>This email address has already been verified.</h2>
  </header>

  <%= image_tag 'logo-square.png' %>
  <%= link_to 'Okay', main_app.root_path, class: 'cc' %>
</section>
