.users-slabs {
  display: flex;
  display: -webkit-flex;
}

.user-slab {
  flex: 1;
  -webkit-flex: 1;

  img {
    border-radius: 50%;
    height: 80px;
    margin: 0 auto 20px;
    width: 80px;
  }

  figcaption {
    line-height: 20px;
    margin-top: - $base-font-size / 3;
    text-align: center;
  }
}
