.post-container,
.post.preview > a {
  > header {
    > h1 {
      font-size: $huge-font-size;
      font-weight: 600;
    }

    > h2 {
      color: $special-link-color;
      font-size: $big-font-size;
      font-weight: 300;
    }

    > h1, > h2 {
      padding-bottom: $inner-margin-size;
      margin: 0;

      &:first-child {
        padding-top: 0;
      }
    }
  }
}