ul.insight-list,
.insight-list > ul.container {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 310px;

  > li {
    padding-bottom: $default-margin-size;

    > .insight {
      width: 100%;
    }
  }
}

.insight-timeline-list {
  margin-left: $gutter-size;

  .insighters {
    @include align-items(center);
    @include display(flex);

    list-style: none;
    margin-right: $inner-margin-size;
    margin: 0;
    padding: 0;

    > li {
      @include align-items(center);
      @include display(flex);

      margin-right: $inner-margin-size;
      margin-bottom: $inner-margin-size;
      z-index: 10;

      &.more {
        color: $link-color;
        font-size: $small-font-size;
        font-weight: 600;
        text-transform: uppercase;
      }

      > article {
        cursor: pointer;
        position: relative;
        z-index: 3;

        ~ article {
          width: 16px;
        }

        + article {
          position: relative;
          left: -20px;
          z-index: 2;
        }

        + article + article {
          position: relative;
          left: -40px;
          z-index: 1;
        }

        &.active {
          z-index: 4;

          &:before {
            @include position(absolute, 0px 0 0 0px);

            border: 2px solid hsla(137, 54%, 50%, 0.75);
            border-radius: 50%;
            content: '';
            height: 32px;
            width: 32px;
            z-index: 4;
          }
        }

        > .avatar {
          font-size: 16px;
          height: 32px;
          width: 32px;
        }
      }
    }
  }

  .insight-list > li {
    display: none;

    &.active {
      display: block;
    }
  }
}

.insight.item {
  background-color: $card-color;
  border: 1px solid $border-color;
  padding: $default-margin-size;
  padding-bottom: $inner-margin-size;
  margin-top: 14px;
  position: relative;
  width: 310px;

  &::before,
  &::after {
    @include position(absolute, -14px null null 0px);

    content: '';
    display: block;
  }

  &::before {
    border: 7px solid transparent;
    border-bottom-color: $card-color;
    border-left-color: $card-color;
    z-index: 1;  
  }

  &::after {
    border: 8px solid transparent;
    border-bottom-color: $border-color;
    border-left-color: $border-color;
    left: -1px;
    top: -16px;
  }

  &.unapproved {
    opacity: 0.7;
  }

  > .human {
    @include align-items(center);
    @include display(flex);
    @include flex(1);

    margin-bottom: $default-margin-size;

    > figure {
      background-color: #eee;
      background-size: cover;
      background-position: center center;
      border-radius: 50%;
      height: 50px;
      margin-right: $inner-margin-size;
      position: relative;
      width: 50px;

      > figcaption {
        @include position(absolute, 50% null null 50%);
        @include transform(translateX(-50%) translateY(-50%));

        color: hsl(0, 100%, 100%);
        font-size: $basic-font-size;
      }
    }

    > section {
      @include flex(1);

      margin-top: 5px;

      > p {
        margin: 0;

        &.name {
          color: hsl(135, 50%, 50%);
          font-size: $big-font-size;
          font-weight: 600;

          .last-part {
            display: inline-block;
          }
        }

        &.occupation {
          color: $secondary-text-color;
          font-size: 16px;
          font-weight: 300;
        }
      }
    }
  }

  .content {
    font-size: 16px;
    font-weight: $normal-weight;
    line-height: 1.4;
    width: 100%;

    > .origin {
      color: $link-color;

      > .tooltip {
        left: -10px;
        top: 100%;

        &:before {
          left: 12px;
        }
      }
    }
  }

  > .suggestion {
    font-size: $small-font-size;
    font-weight: 300;
    height: 34px;
    line-height: 34px;
    position: relative;

    > i {
      background-size: 28px 18px;
      height: 18px;
      margin-right: 5px;
      width: 28px;
    }

    .cc-times {
      @include position(absolute, 50% 0px 0 0);

      color: $accented-red-color;
      font-size: 24px;
      margin-top: -12px;
    }
  }

  > .round-buttons {
    margin-top: 5px;
  }
}