// 
// Main
// 
.timeline.wrapper {
  width: 1024px;
  margin: 0 auto;

  @include respond-to(medium) {
    width: 550px;
  }

  > header {
    @include display(flex);
    @include flex-direction(column);

    margin-bottom: 24px;

    > h1 {
      @include align-items(center);
      @include display(flex);

      cursor: pointer;
      font-size: 54px;
      font-weight: 300;
      margin: 0;

      .link {
        color: $link-color;

        > .fa-chevron-down {
          cursor: pointer;
          font-size: 32px;
          margin-left: 12px;
          position: relative;
          top: -5px;
        }
      }

      .cc-times {
        color: $link-color;
        font-size: $huge-font-size;
        margin-left: 5px;
        width: 20px;
      }
    }

    > .description {
      font-size: $large-font-size;
      font-weight: 300;
      line-height: 1.5;

      > div[contenteditable] {
        @include editor-contenteditable-area;
        max-width: 1024px;
      }
    }
  }

  > .timeline.posts {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);

    min-height: 268px;
    padding: $default-margin-size/2;
    position: relative;

    > .instruction {
      font-size: $large-font-size;
      margin-top: 40px;
      text-align: center;
    }

    > .placeholder {
      @include display(flex);
      @include justify-content(center);

      &.small:hover {
        > figure {
          visibility: visible;
        }
      }

      > figure {
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);

        visibility: visible;
        width: 90px;
        height: 90px;
        cursor: pointer;
        background-color: hsl(142, 48%, 59%);
        border-radius: 50%;
        color: white;
        position: relative;
        margin-top: -45px;

        > i.cc-icon {
          font-size: 40px;
        }
      }

      &.small {
        > figure {
          @include transform(scale(.5, .5));
          @include transition(opacity 250ms ease-out, all 150ms ease-out, width 100ms ease-out 150ms);

          margin: $inner-margin-size 0;
          width: 45px;
          height: 45px;
          visibility: hidden;

          &:hover {
            @include transform(scale(1, 1));
          }

          > i.cc-icon {
            font-size: 15px;
          }
        }
      }
    }
  }

}

// Post preview
//
.post-preview-container {
  @include align-items(flex-start);
  @include display(flex);
  @include justify-content(flex-start);

  margin: $gutter-size/2 0;
  width: 1024px;

  @include respond-to(medium) {
    @include flex-direction(column);

    width: 550px;
  }

  > .preview.post {
    @include display(flex);
    @include flex(1);

    position: relative;
    border: 1px solid $border-color;
    background-color: $card-color;
    padding: $default-margin-size;

    @include respond-to(medium) {
      width: 100%;
    }

    > .post-placeholder {
      background-image: image_url('placeholders/paragraph.png');
      background-repeat: no-repeat space;
      height: 250px;
      width: 261px;
    }

    &:hover > ul.controls {
      visibility: visible;
    }

    > .buttons {
      @include position(absolute, $default-margin-size $default-margin-size null null);

      ~ a h1 {
        margin-right: 10%;
      }
    }

    &:hover {
      h1 {
        color: $link-color;
      }
    }

    > a {
      @include display(flex);
      @include flex-direction(column);

      width: 100%;

      > .content {
        > * {
          padding-bottom: $inner-margin-size;
        }

        > img {
          display: block;
          margin: 0 auto;
        }
      }

      > .read-more {
        @include position(absolute, 0 0px 0px 0);

        background-color: $link-color;
        color: $accented-white-color;
        display: block;
        font-size: $small-font-size;
        font-weight: 700;
        padding: 2px 5px;
        text-transform: uppercase;
      }

      > footer {
        @include align-items(flex-end);
        @include display(flex);
        @include flex(1);
        @include justify-content(center);

        text-align: center;

        > .cc-hashtag-list {
          > ul > li {
            font-size: 16px;
            padding: 5px 10px;

            &.current {
              border-radius: 20px;
              background-color: rgb(73,193,105);
              color: white;
            }
          }
        }
      }
    }

    &.epoch {
      background: none;
      border: none;
      width: 100%;

      > a > header {

        > h1 {
          font-size: $great-font-size;
          font-weight: 300;
          margin: 0;
          text-align: center;
        }

        > h2 {
          font-size: $basic-font-size;
          font-weight: 300;
          color: $black-color;
          text-align: center;
        }
      }
    }

    &.quote {
      padding-top: 50px;

      > a > header {
        > h1 {
          font-size: $large-font-size;
          margin: 0;
          text-align: center;
        }

        > h2 {
          font-size: $basic-font-size;
          text-align: center;
        }
      }
    }

    &.dimmed {
      opacity: 0.5;
    }

    &.only-me {
      background-color: white;
      border: 3px solid hsl(0, 0%, 80%);
    }

    > a > .only-me-overlay {
      @include align-items(center);
      @include display(flex);
      @include justify-content(center);
      @include position(absolute, 0px 0 0 0px);

      background-color: rgba(255, 255, 255, 0.85);
      cursor: pointer;
      height: 100%;
      width: 100%;
      z-index: 1;

      > i {
        font-size: 100px;
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  > .post-pins {
    > .show-pins {
      font-size: $basic-font-size;
      padding: 0 30px;
    }
  }

  > .post-pins-placeholder {
    background-image: image_url('placeholders/insight.png');
    background-size: cover;
    height: 270px;
    width: 310px;
  }

  > .post-pins-placeholder,
  > .post-pins > .show-pins,
  > .post-pins > .insight-timeline-list {
    margin-left: $gutter-size;

    @include respond-to(medium) {
      margin-left: 0;
      margin-top: $gutter-size;
    }
  }
}
