@mixin companies-section {
  margin-top: $base-unit;
  color: $dark-grey;

  a {
    color: $dark-grey;

    &.orgpad-button {
      color: white;
    }
  }

  > header {
    padding: $base-unit;
    background-color: $white-smoke;

    > div.main-info > ul {
      @include flex-ul;

      > li {
        margin-right: $base-unit;
        font-size: 14pt;
        font-weight: bold;

        &.spacer { @include flex(1); }

        &.vacancies-size > a {
          color: $alizarin-crimson;
        }

      }
    }

    > div.additional-info {
      margin-top: $base-unit;
      display: none;
      text-transform: uppercase;
      
      > ul {
        @include flex-ul;
        @include justify-content(flex-start);

        > li {
          margin-right: $base-unit;

          > a {
            text-decoration: underline;
          }
        }
      }
    }
  }

  > div.charts {
    padding: $base-unit;
    background-color: $light-smoke;

    > ul {
      @include flex-ul;

      > li {
        width: $base-unit * 8;
        height: $base-unit * 7;
        margin-right: $base-unit;
        text-align: center;

        > div.chart-preview {
          border: 1pt solid white;
          height: $base-unit * 6;
          margin-bottom: 0.5em;
          text-align: left;
          position: relative;

          > a {
            display: block;
            height: 100%;
          }

          &:last-child {
            background-color: white;

            > a {
              @include display(flex);
              @include justify-content(center);
              @include align-items(center);

              > div.plus {
                font-size: 10pt;
                color: white;
                background-color: $ufo-green;
                width: 12pt;
                height: 12pt;
                text-align: center;
                line-height: 14pt;

              }
            }

          }

        }
      }

    }
  }

  > div.vacancies {
    padding: $base-unit;
    background-color: $platinum;

    > ul {
      @include flex-ul;
      @include flex-flow(row wrap);

      > li {
        margin-right: $base-unit * 2;

        > a {
          font-size: 12pt;

          &:hover {
            text-decoration: underline;
          }
        }
      }
      
    }
  }


}
