@mixin companies-section {
  margin-top: $base-unit;

  > header {
    padding: $base-unit;
    background-color: $white-smoke;

    > div.main-info > ul {
      > li {
        margin-right: $base-unit;
        font-size: 14pt;
        font-weight: bold;

        &.spacer { @include flex(1); }

        &.vacancies-size > a {
          color: $alizarin-crimson;
        }

        &.country, &.established-on {
          display: none;
        }

        &.proximity {
          @include proximity;
        }

        > a {
          color: black;
        }

      }
    }

    > div.additional-info {
      margin-top: $base-unit;
      display: none;
      text-transform: uppercase;
      
      > ul {
        @include justify-content(flex-start);

        > li {
          margin-right: $base-unit;

          > a {
            text-decoration: underline;
          }
        }
      }
    }
  }

  > div.content {
    padding: $base-unit;
    background-color: $light-smoke;

    > div.charts {
      display: none;

      ul > li {
        width: $base-unit * 8;
        height: $base-unit * 7;
        margin-right: $base-unit;
        text-align: center;
        color: $dark-grey;

        > div.chart-preview {
          border: 1pt solid white;
          height: $base-unit * 6;
          margin-bottom: 0.5em;

          > a {
            display: block;
            height: 100%;
          }

          &:last-child {
            background-color: white;

            > a > i.fa {
              line-height: $base-unit * 6;
              color: $ufo-green;
              font-size: 14pt;
            }
          }

        }

      }
    }

    > div.vacancies {
      > ul {
        @include flex-flow(row wrap);

        > li {
          margin-right: $base-unit * 2;

          > a {
            font-size: 14pt;
            color: black;

            &:hover {
              text-decoration: underline;
            }
          }
        }
        
      }
    }
  }

}
