.super-feature {

  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 700px;
  position: relative;
  margin: 0;

  > .background {
    position: absolute;
    top: - $site-header-height;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;

    &::before {
      background: {
        image: url('../images/super-feature-background.jpg');
        position: center center;
        repeat: no-repeat;
        size: cover;
      };
      content: '';
      filter: blur(10px);
      -webkit-filter: blur(10px);
      position: absolute;
      top: -20px;
      right: -20px;
      bottom: -20px;
      left: -20px;
    }
  }
}
