.super-feature {

  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 700px;
  position: relative;
  margin: 0;

  > .background {
    position: absolute;
    top: - $site-header-height;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;

    &::before {
      background: {
        image: url('../images/super-feature-background.jpg');
        position: center center;
        repeat: no-repeat;
        size: cover;
      };
      content: '';
      filter: blur(10px);
      -webkit-filter: blur(10px);
      position: absolute;
      top: -20px;
      right: -20px;
      bottom: -20px;
      left: -20px;
    }
  }

  > .content-block:not(.get-access) {
    flex: 1;
    -webkit-flex: 1;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;

    > ul {
      display: flex;
      display: -webkit-flex;
      margin-left: -5px;
      margin-right: -5px;
      overflow: hidden;

      > li {
        flex: 1;
        -webkit-flex: 1;
        margin: 0 5px;

        > * ~ * {
          opacity: 0;
        }
      }
    }
  }
}
